body {
    background-color: #eee
}

.banner {
    margin: 30px auto;
    text-align: center;
}

.banner h4 {
    color: grey
}

.banner img {
    padding: 10px;
    max-width: 150px;
}

span.back-light {
    padding: 2px;
    background-color: #ffffff80;
}

.movie-card {
    overflow: hidden;
}

.pagination {
    overflow: auto;
}

.warning-feedback {
    color: #856404 !important;
}

.progress {
    border-radius: initial;
}