
.movie-cards .description {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}

.movie-cards .card-header, .metadata {
    background: none;
    padding: 0;
    position: relative;
    border-style: none;
}

.movie-cards .metadata {
    font-size: 16px;
}

.movie-cards .metadata i, .movie-cards .metadata p {
    float: left;
}

.movie-cards .metadata p {
    margin-top: 0;
    margin-left: 10px;
}

.movie-cards .metadata i {
    color: #ff9d00;
    margin-top: 5px;
    margin-left: 1px;
}

.movie-cards .card-img {
    -webkit-clip-path: inset(10% 0 20% 0);
    clip-path: inset(10% 0 20% 0);
    margin-top: -15%;
}

.movie-cards .card-body {
    position: relative;
    margin-top: -30%;
    color: #9FA7A9;
}

.movie-cards .card-body .card-title {
    font-weight: 600;
    color: #414345;
}

.movie-cards .card-body .card-text {
    margin-top: 8px;
    /*font-weight: 600;*/
    /*line-height: 30px;*/
}

.movie-cards .card {
    border-radius: 3pt;
    border-style: none;
    overflow: hidden;
    /*transform: scale(0.8);*/
    /*margin-top: -60px;*/
}

.movie-cards .card:hover {
    transition: box-shadow .3s;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10), 0 8px 8px rgba(0, 0, 0, 0.18) !important;
}

.movie-cards .card a:hover {
    text-decoration: none
}