{% set isAdmin = app.user and app.user.isAdmin %}

<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://filmo.video">
            <img src="/img/logo@128.png" style="max-height: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item text-center">
                    <a class="nav-link" href="{{ path('movies') }}">{{ 'navigation.movies'|trans }}</a>
                </li>

                <li class="nav-item text-center">
                    <a class="nav-link"
                       href="{{ path('submissions') }}">{{ 'navigation.submissions'|trans }}</a>
                </li>

                {% if isAdmin %}
                    <li class="nav-item text-center">
                        <a class="nav-link"
                           href="{{ path('subscribers') }}">{{ 'navigation.subscribers'|trans }}</a>
                    </li>
                {% endif %}

                <li class="nav-item text-center">
                    <div class="nav-link py-1">
                        <select id="language-select" class="form-control form-control-sm">
                            {% for value in supported_locales|split(',') %}
                                <option value="{{ value }}"
                                        {% if app.request.locale == value %}selected{% endif %}
                                >{{ value|upper }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>

                <li class="nav-item text-center dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.name }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-center"
                           href="{{ path('profile') }}">
                            <i class="fa fa-user-circle"></i>&nbsp;{{ 'navigation.profile'|trans }}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-center"
                           href="{{ path('logout') }}">
                            <i class="fa fa-sign-out-alt"></i>&nbsp;{{ 'navigation.logout'|trans }}
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
