<nav class="navbar navbar-expand-md navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://filmo.video">
            <img src="/img/logo@128.png" style="max-height: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item text-center">
                    <div class="nav-link py-1">
                        <select id="language-select" class="form-control form-control-sm">
                            {% for value in supported_locales|split(',') %}
                                <option value="{{ value }}"
                                        {% if app.request.locale == value %}selected{% endif %}
                                >{{ value|upper }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>

                <li class="nav-item text-center">
                    <a class="nav-link btn btn-sm btn-outline-success mx-1 font-weight-bold"
                       href="{{ path('register') }}">
                        {{ 'navigation.signup'|trans }}
                    </a>
                </li>

                <li class="nav-item text-center">
                    <a class="nav-link btn btn-sm btn-light mx-1"
                       href="{{ path('login') }}">
                        {{ 'navigation.login'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
