{% set isRtl = app.request.locale in rtl_locales %}
<!DOCTYPE html>
<html dir="{{ isRtl ? 'rtl' : 'ltr' }}">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>


    <link rel="icon" href="/img/favicon@16.png" sizes="16x16">
    <link rel="icon" href="/img/favicon@64.png" sizes="64x64">

    {% if isRtl %}
        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css"
              integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz"
              crossorigin="anonymous">
    {% else %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
              crossorigin="anonymous">
    {% endif %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">

    <link rel="stylesheet" href="/css/common.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% if app.user %}
    {{ include('navigation/has-user.html.twig') }}
{% else %}
    {{ include('navigation/no-user.html.twig') }}
{% endif %}

{% block body %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

{% if isRtl %}
    <script src="https://cdn.rtlcss.com/bootstrap/v4.0.0/js/bootstrap.min.js"
            integrity="sha384-54+cucJ4QbVb99v8dcttx/0JRx4FHMmhOWi4W+xrXpKcsKQodCBwAvu3xxkZAwsH"
            crossorigin="anonymous"></script>
{% else %}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
            integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
            crossorigin="anonymous"></script>
{% endif %}

<script src="/js/js.cookie.js"></script>
<script src="/js/email-validator.js"></script>

<script>
    $(function () {
        var chooser = $('#language-select');

        chooser.on('change', function (e) {
            var selected = e.target.value;

            Cookies.set('locale', selected);

            window.location.reload()
        })
    })
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
