{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.contact_support'|trans }}{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">
                <h2>{{ 'contact_support.title'|trans }}</h2>

                {{ 'contact_support.content'|trans|raw }}
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}