{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.contact_us'|trans }}{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">
                <h2 class="mb-4">{{ 'faq.title'|trans }}</h2>

                <div class="row">
                    {% for i in range(1, 4) -%}
                        <div class="col-10 col-md-8 offset-1 offset-md-2 p-3 mb-4 border shadow-sm">

                            <h4>{{ ('faq.blocks.' ~ i ~ '.title')|trans }}</h4>

                            {{ ('faq.blocks.' ~ i ~ '.content')|trans|raw }}
                        </div>

                    {%- endfor %}
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}