<footer class="row">
    <div class="col-12">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-4 col-md-2">
                    <h5>{{ 'index.footer.about_title'|trans }}</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted"
                               href="{{ path('faq_index') }}">{{ 'navigation.faq'|trans }}</a>
                        </li>
                        <li>
                            <a class="text-muted"
                               href="{{ path('tutorial') }}">{{ 'navigation.tutorial'|trans }}</a>
                        </li>
                        <li>
                            <a class="text-muted"
                               href="{{ path('terms') }}">{{ 'navigation.terms'|trans }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4 col-md-2">
                    <h5>{{ 'index.footer.contacts'|trans }}</h5>
                    <ul class="list-unstyled text-small">
                        <li>
                            <a class="text-muted"
                               href="{{ path('contact_index') }}">{{ 'navigation.contact_us'|trans }}</a>
                        </li>
                        <li>
                            <a class="text-muted"
                               href="{{ path('contact_support_index') }}">{{ 'navigation.contact_support'|trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
    <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© {{ ''|date('Y') }}</small>
    </div>
</footer>