{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.index'|trans }}{% endblock %}

{% block stylesheets %}
    <style>
        .jumbotron {
            background: url('/img/index-banner-1.jpg') no-repeat center center;
            min-height: 250px;
        }

        body {
            background-color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="jumbotron"></div>

    <div class="container bg-white">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">
                    <span class="back-light">{{ 'index.banner.title'|trans }}</span>
                </h1>
                {{ 'index.banner.description'|trans|raw }}
                <p>
                    <a class="btn btn-success btn-lg" href="{{ path('register') }}">
                        <i class="fa fa-user-plus"></i>&nbsp;{{ 'index.banner.subscribe'|trans }}
                    </a>

                    <a class="btn btn-outline-success btn-lg" href="{{ path('tutorial') }}">
                        <i class="fa fa-video"></i>&nbsp;{{ 'index.banner.tutorial'|trans }}
                    </a>
                </p>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}
