{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.login'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form id="login-form" class="form-signin shadow-sm bg-white">
                    <h1 class="h3 mb-3 font-weight-normal">{{ 'login.title'|trans }}</h1>

                    <p class="text-muted">{{ 'login.not_registered'|trans }}&nbsp;<a
                                href="{{ path('register') }}">{{ 'navigation.signup'|trans }}</a></p>

                    <div id="login-form-error" class="alert alert-danger d-none">
                        {{ 'validation.username_password_mismatch'|trans }}
                    </div>

                    <div class="mb-1">
                        <input type="text" id="inputEmail"
                               name="_username"
                               class="form-control"
                               placeholder="{{ 'users.email'|trans }}"
                               required=""
                               autofocus="">
                    </div>

                    <div class="mb-1">
                        <input type="password" id="inputPassword"
                               name="_password"
                               class="form-control"
                               placeholder="{{ 'users.password'|trans }}"
                               required="">
                    </div>

                    <p class="text-muted text-right">&nbsp;<a
                                href="{{ path('reset_password_index') }}">{{ 'login.forgot_password'|trans }}</a></p>

                    <div class="mb-4">
                        {% if google_recaptcha_enabled %}
                            <button type="submit" class="btn btn-lg btn-success btn-block g-recaptcha"
                                    disabled
                                    data-sitekey="{{ google_recaptcha_site_key }}"
                                    data-callback="onCaptchaSolved"
                                    data-error-callback="onCaptchaNotSolved"
                                    data-size="invisible">
                                <i class="fa fa-lock"></i>&nbsp;{{ 'login.confirm'|trans }}
                            </button>
                        {% else %}
                            <button class="btn btn-lg btn-success btn-block"
                                    disabled
                                    type="submit">
                                <i class="fa fa-lock"></i>&nbsp;{{ 'login.confirm'|trans }}
                            </button>
                        {% endif %}
                    </div>

                    <p class="text-muted">{{ 'login.contact_us'|trans }}
                        &nbsp;<a href="{{ path('contact_index') }}">{{ 'login.contact_us_action'|trans }}</a></p>
                </form>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}

    {% if google_recaptcha_enabled %}
        <script src="https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>
    {% endif %}

    <script>


        var validationMessages = {
            genericError: '{{ 'validation.generic_form_error'|trans }}',
            invalid: '{{ 'validation.field_is_invalid'|trans }}',
            isRequired: '{{ 'validation.field_is_required'|trans }}',
            passwordMismatch: '{{ 'validation.password_mismatch'|trans }}',
            passwordWeak: '{{ 'validation.password_weak'|trans }}',
            emailReserved: '{{ 'validation.email_reserved'|trans }}',
            termsShouldBeAccepted: '{{ 'validation.accepted_terms'|trans }}',
            you_are_a_robot: '{{ 'validation.you_are_a_robot'|trans }}',
        };

        var state = {
            isValid: false,
            model: {
                login: '',
                password: ''
            }
        };

        function onCaptchaNotSolved() {

            console.error('onCaptchaNotSolved');

            var formError = $('#login-form-error');
            formError.removeClass('d-none');
            formError.text(validationMessages.you_are_a_robot);
        }

        function onCaptchaSolved(token) {

            console.info('onCaptchaSolved');

            if (!state.isValid) return;

            var form = $('#login-form');
            var formError = $('#login-form-error');
            var submit = form.find('[type="submit"]');
            var submitIcon = submit.find('.fa');

            var model = state.model;
            model['g-recaptcha-response'] = token;

            $.ajax({
                method: 'POST',
                url: '{{ path('authenticate') }}',
                contentType: 'application/json',
                data: JSON.stringify(model),
                beforeSend: function () {
                    formError.addClass('d-none');
                    submitIcon.removeClass('fa-lock');
                    submitIcon.addClass('fa-spin fa-circle-notch');
                },
                success: function (content) {
                    if (content && content.next) {
                        submitIcon.addClass('fa-unlock');
                        window.location = content.next
                    } else {
                        this.error()
                    }
                },
                error: function () {
                    submitIcon.addClass('fa-lock');
                    formError.removeClass('d-none')
                },
                complete: function () {
                    submitIcon.removeClass('fa-spin fa-circle-notch');
                }
            })

            if (typeof grecaptcha !== "undefined") {
                grecaptcha.reset();
            }

        }

        $(function () {

            var IS_CAPTCHA_ENABLED = {{ google_recaptcha_enabled ? 'true' : 'false' }};

            var form = $('#login-form');
            var login = form.find('[name="_username"]');
            var password = form.find('[name="_password"]');
            var submit = form.find('[type="submit"]');

            var validate = function () {
                var count = 0;

                if (!state.model.login || state.model.login.length < 3) {
                    ++count
                }

                if (!state.model.password || state.model.password.length < 3) {
                    ++count
                }

                state.isValid = count === 0;

                submit.prop('disabled', !state.isValid);
            };

            submit.prop('disabled', true);

            login.on('input', function (e) {
                state.model.login = e.target.value = e.target.value.toLowerCase();

                validate();
            });

            password.on('input', function (e) {
                state.model.password = e.target.value;

                validate();
            });

            form.on('submit', function (e) {
                e.preventDefault();

                if (IS_CAPTCHA_ENABLED) {
                    if (typeof grecaptcha !== "undefined") {
                        grecaptcha.execute();
                    } else {
                        onCaptchaNotSolved()
                    }
                } else {
                    onCaptchaSolved('development');
                }
            })
        })
    </script>
{% endblock %}