{% extends 'base.html.twig' %}

{% block title %}{{ movie.name }}{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            var MIME_TYPES = '{{ upload_poster_mime_types }}'.split(',');
            var FILE_SIZE_BYTES = parseInt('{{ upload_poster_max_filesize_mb * 1000 * 1000 }}');

            var validationMessages = {
                genericError: '{{ 'validation.generic_form_error'|trans }}',
                invalid: '{{ 'validation.field_is_invalid'|trans }}',
                isRequired: '{{ 'validation.field_is_required'|trans }}',
                passwordMismatch: '{{ 'validation.password_mismatch'|trans }}',
                passwordWeak: '{{ 'validation.password_weak'|trans }}',
                emailReserved: '{{ 'validation.email_reserved'|trans }}',
                termsShouldBeAccepted: '{{ 'validation.accepted_terms'|trans }}',
            };

            var form = $('#movie');

            var name = form.find('[name="name"]');
            var nameError = name.closest('.form-group').find('.feedback');

            var category = form.find('[name="category"]');
            var categoryError = category.closest('.form-group').find('.feedback');

            var isHidden = form.find('[name="isHidden"]');

            var posterName = form.find('[name="posterName"]');
            var posterNameError = posterName.closest('.form-group').find('.feedback');
            var posterNameLabel = form.find('.custom-file-label');

            var submit = form.find('[type="submit"]');
            var submitIcon = submit.find('.fa');

            var selectedFile = null
            var state = {
                id: {{ movie.id ? movie.id : 'null' }},
                name: '{{ movie.name|escape }}',
                category: {{ movie.category.id }},
                isHidden: {{ movie.isHidden ? 'true' : 'false' }},
            };

            var stateChanges = {
                name: false,
                category: false,
                posterName: false,
                isHidden: false,
            };

            category.val(state.category);

            console.log(state);

            var validate = function () {
                var count = 0;

                if (!state.name || state.name.length < 3) {
                    ++count

                    if (stateChanges.name) {
                        nameError.removeClass('d-none');
                        nameError.addClass('d-block invalid-feedback')
                        nameError.text(validationMessages.isRequired)
                    } else {
                        nameError.addClass('d-none');
                        nameError.removeClass('d-block invalid-feedback')
                    }
                } else {

                    nameError.addClass('d-none');
                    nameError.removeClass('d-block invalid-feedback')
                }

                if (!state.category) {
                    ++count

                    if (stateChanges.category) {
                        categoryError.removeClass('d-none');
                        categoryError.addClass('d-block invalid-feedback')
                        categoryError.text(validationMessages.isRequired)
                    } else {
                        categoryError.addClass('d-none');
                        categoryError.removeClass('d-block invalid-feedback')
                    }
                } else {
                    categoryError.addClass('d-none');
                    categoryError.removeClass('d-block invalid-feedback')
                }

                if (selectedFile) {

                    if (selectedFile.type && MIME_TYPES.indexOf(selectedFile.type) === -1) {
                        ++count;

                        posterName.val(null);
                        posterNameLabel.text('');

                        selectedFile = null

                        if (stateChanges.posterName) {
                            posterNameError.removeClass('d-none');
                            posterNameError.addClass('d-block invalid-feedback')
                            posterNameError.text(validationMessages.invalid)
                        } else {
                            posterNameError.addClass('d-none');
                            posterNameError.removeClass('d-block invalid-feedback')
                        }

                    } else if (selectedFile.size > FILE_SIZE_BYTES) {
                        ++count;

                        posterName.val(null);
                        posterNameLabel.text('');

                        selectedFile = null

                        if (stateChanges.posterName) {
                            posterNameError.removeClass('d-none');
                            posterNameError.addClass('d-block invalid-feedback')
                            posterNameError.text(validationMessages.invalid)
                        } else {
                            posterNameError.addClass('d-none');
                            posterNameError.removeClass('d-block invalid-feedback')
                        }
                    } else {
                        posterNameError.addClass('d-none');
                        posterNameError.removeClass('d-block invalid-feedback')
                    }
                }

                var isValid = count === 0;

                submit.prop('disabled', !isValid);

                return isValid
            };

            var save = function () {

                if (!validate()) return;

                var data = new FormData();
                data.append('content', JSON.stringify(state));
                if (selectedFile)
                    data.append('poster', selectedFile);

                $.ajax({
                    method: 'POST',
                    url: '{{ path('api_v1_movies_put', {
                        'id': movie.id
                    }) }}',
                    processData: false,
                    contentType: false,
                    data: data,
                    beforeSend: function () {
                        submit.prop('disabled', true);
                        submitIcon.removeClass('fa-check');
                        submitIcon.addClass('fa-spin fa-circle-notch')
                    },
                    success: function () {
                        window.location = '{{ path('movies') }}'
                    },
                    complete: function () {
                        submit.prop('disabled', false);
                        submitIcon.addClass('fa-check');
                        submitIcon.removeClass('fa-spin fa-circle-notch')
                    }
                });
            };

            name.on('input', function (e) {
                state.name = e.target.value;
                stateChanges.name = true;

                if (validate() && e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            });

            category.on('change', function (e) {
                state.category = e.target.value;
                stateChanges.category = true;

                validate()
            });

            posterName.on('change', function (e) {
                stateChanges.posterName = true;

                var file = e.target.files[0];
                var name = '';
                if (file) {
                    name = file.name;

                    selectedFile = file
                } else {
                    selectedFile = null
                }

                posterNameLabel.text(name);

                validate()
            });

            isHidden.on('change', function (e) {
                state.isHidden = e.target.checked;
                stateChanges.isHidden = true;

                validate()
            });

            form.on('submit', function (e) {
                e.preventDefault();

                save();
            })
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <form id="movie">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="text-center">
                        <img src="{{ app.environment == 'prod' and movie.posterName
                        ? poster_dir ~ '/' ~ movie.posterName
                        : 'http://via.placeholder.com/250x350' }}"
                             alt="{{ 'poster'|trans }}"
                             class="img-fluid"
                             title="{{ movie.name }}">
                    </div>

                    <div class="text-muted">{{ poster_dir }}/{{ movie.posterName }}</div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'poster'|trans }}:</label>
                            </div>
                            <input type="file" name="posterName"
                                   class="form-control"
                                   accept="{{ upload_poster_mime_types }}"
                                   min="1"
                                   max="1">
                        </div>
                        <small class="feedback"></small>
                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-sm btn-success" disabled>
                            <i class="fa fa-check"></i>&nbsp;{{ movie.id ? 'movies.save'|trans : 'movies.create'|trans }}
                        </button>
                    </div>

                    <div class="form-group">
                        <div class="text-muted">{{ 'created_at'|trans }}
                            :&nbsp;{{ movie.createdAt|date('Y-m-d H:i') }}</div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'name'|trans }}</label>
                            </div>
                            <input type="text" name="name"
                                   class="form-control"
                                   required
                                   value="{{ movie.name|escape }}">
                        </div>
                        <small class="feedback"></small>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'category'|trans }}</label>
                            </div>
                            <select class="form-control"
                                    name="category"
                                    required>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ ('categories.' ~ category.name)|trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <small class="feedback"></small>
                    </div>

                    <div class="form-group">
                        <label for="active">
                            <input id="active" type="checkbox"
                                   name="isHidden"
                                    {{ movie.isHidden ? 'checked' : '' }}>

                            &nbsp;{{ 'is_hidden'|trans }}
                        </label>
                    </div>

                </div>
            </div>
        </form>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}