{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.movies'|trans }}{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var state = {
                page: {{ page }},
                filter: JSON.parse('{{ filter_json|raw }}'),
                selectedMovies: [],
                isSelectAll: false
            };

            var filterForm = $('#filter-form');
            var filterFormClear = filterForm.find('[name="clear"]');
            var filterTotal = filterForm.find('[name="total"]');
            var filterTotalValue = filterForm.find('[name="total-value"]');
            var filterAccepted = filterForm.find('[name="accepted"]');
            var filterAcceptedValue = filterForm.find('[name="accepted-value"]');
            var alphabetPagination = $('#pagination-alphabet');
            var clearAlphabet = $('#clear-alphabet');
            var pagination = $('#pagination');
            var categories = $('#categories');

            if (!state.filter.acceptedType) {
                state.filter.acceptedType = 'more'
            }

            if (!state.filter.totalType) {
                state.filter.totalType = 'more'
            }

            filterAccepted.val(state.filter.acceptedType);
            filterTotal.val(state.filter.totalType);

            var startSearch = function () {
                var query = [
                    'page=' + state.page
                ];

                for (var key in state.filter) {
                    if (!state.filter.hasOwnProperty(key)) continue;

                    query.push('filter[' + key + ']=' + state.filter[key])
                }

                window.location = '{{ path('movies') }}?' + query.join('&')
            };

            filterFormClear.on('click', function () {

                state = {
                    page: 1
                };

                startSearch();
            });

            filterTotal.on('input', function (e) {

                var value = e.target.value;
                if (value) {
                    state.filter.totalType = value
                } else {
                    delete state.filter.totalType
                }
            });

            filterTotalValue.on('input', function (e) {

                var value = parseInt(e.target.value);
                if (value >= 0) {
                    state.filter.totalCount = value
                } else {
                    delete state.filter.totalCount
                }

                if (e.keyCode === 13) {
                    e.preventDefault();

                    startSearch();
                }
            });

            filterAccepted.on('input', function (e) {

                var value = e.target.value;
                if (value) {
                    state.filter.acceptedType = value
                } else {
                    delete state.filter.acceptedType
                }
            });

            filterAcceptedValue.on('input', function (e) {

                var value = parseInt(e.target.value);
                if (value >= 0) {
                    state.filter.acceptedCount = value
                } else {
                    delete state.filter.acceptedCount
                }

                if (e.keyCode === 13) {
                    e.preventDefault();

                    startSearch();
                }
            });

            filterForm.on('submit', function (e) {
                e.preventDefault();

                startSearch()
            });

            categories.find('.nav-link').on('click', function (e) {
                e.preventDefault();

                var category = parseInt($(this).attr('data-id'));
                if (category > 0) {

                    state.filter.category = category;

                    startSearch();
                }
            });

            alphabetPagination.find('.alphabet').on('click', function (e) {
                e.preventDefault();

                var letter = $(this).attr('data-id');
                if (letter) {
                    state.filter.letter = letter;

                    startSearch();
                }
            });

            pagination.find('.page-link').on('click', function (e) {
                e.preventDefault();

                var page = parseInt($(this).attr('data-id'));
                if (page > 0) {

                    state.page = page;

                    startSearch();
                }
            });


            var exportMovies = $('#export-movies');
            var exportMoviesIcon = exportMovies.find('.fa');

            exportMovies.on('click', function () {

                $.ajax({
                    method: 'POST',
                    url: '{{ path('api_v1_movies_export_post') }}',
                    contentType: 'application/json',
                    data: JSON.stringify(state),
                    beforeSend: function () {
                        exportMovies.prop('disabled', true);
                        exportMoviesIcon.removeClass('fa-download');
                        exportMoviesIcon.addClass('fa-spin fa-circle-notch');
                    },
                    success: function (content) {
                        window.location = content.url
                    },
                    error: function (xhr) {
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            alert(xhr.responseJSON.message)
                        }
                    },
                    complete: function () {
                        exportMovies.prop('disabled', false);
                        exportMoviesIcon.addClass('fa-download');
                        exportMoviesIcon.removeClass('fa-spin fa-circle-notch');
                    }
                })
            });

            var importMovies = $('#import-movies');
            var importMoviesIcon = importMovies.closest('label').find('.fa');

            var importMoviesModal = $('#importMoviesModalFailure');
            var importMoviesModalAction = importMoviesModal.find('.modal-body').find('.btn');
            var importMoviesModalList = importMoviesModal.find('.modal-body').find('ul');

            importMovies.on('change', function (e) {

                var file = e.target.files[0];
                if (!file) return;

                var data = new FormData();
                data.append('import', file);

                $.ajax({
                    method: 'POST',
                    url: '{{ path('api_v1_movies_import_post') }}',
                    contentType: false,
                    processData: false,
                    data: data,
                    beforeSend: function () {
                        importMovies.val(null);
                        importMovies.prop('disabled', true);
                        importMoviesIcon.removeClass('fa-upload');
                        importMoviesIcon.addClass('fa-spin fa-circle-notch');

                        importMoviesModalAction.addClass('d-none')
                        importMoviesModalList.addClass('d-none')
                        importMoviesModalList.empty();

                    },
                    success: function () {
                        window.location.reload()
                    },
                    error: function (xhr) {
                        if (!xhr.responseJSON) return;

                        if (xhr.responseJSON.message) {
                            alert(xhr.responseJSON.message)
                        }

                        if (xhr.responseJSON.output || xhr.responseJSON.errors) {
                            importMoviesModal.modal('show');
                        }

                        if (xhr.responseJSON.output) {
                            importMoviesModalAction.removeClass('d-none')
                            importMoviesModalAction.attr('href', xhr.responseJSON.output)
                        }

                        if (xhr.responseJSON.errors) {
                            importMoviesModalList.removeClass('d-none')

                            var list = $.map(xhr.responseJSON.errors, function (errors) {
                                return 'Line ' + errors.row + ": " + errors.error;
                            }).join('</li><li>');

                            importMoviesModalList.html('<li>' + list + "</li>")
                        }
                    },
                    complete: function () {
                        importMovies.prop('disabled', false);
                        importMoviesIcon.addClass('fa-upload');
                        importMoviesIcon.removeClass('fa-spin fa-circle-notch');
                    }
                })
            });

            var hideMovies = $('#hide-movies');
            var hideMoviesIcon = hideMovies.find('.fa');

            hideMovies.on('click', function () {

                $.ajax({
                    method: 'PUT',
                    url: '{{ path('api_v1_movies_batch_hide_put') }}',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        filter: state.filter,
                        movies: state.selectedMovies,
                        isSelectAll: state.isSelectAll
                    }),
                    beforeSend: function () {
                        hideMovies.val(null);
                        hideMovies.prop('disabled', true);
                        hideMoviesIcon.removeClass('fa-eye-slash');
                        hideMoviesIcon.addClass('fa-spin fa-circle-notch');
                    },
                    success: function () {
                        window.location.reload()
                    },
                    error: function (xhr) {
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            alert(xhr.responseJSON.message)
                        }
                    },
                    complete: function () {
                        hideMovies.prop('disabled', false);
                        hideMoviesIcon.addClass('fa-eye-slash');
                        hideMoviesIcon.removeClass('fa-spin fa-circle-notch');
                    }
                })
            });

            var makePublic = $('.make-public-movie');

            makePublic.on('click', function () {
                var $this = $(this);
                var id = parseInt($this.attr('data-id'));
                var icon = $this.find('.fa');

                $.ajax({
                    method: 'PUT',
                    url: '{{ path('api_v1_movies_put', {
                        'id': 999
                    }) }}'.replace('999', id),
                    contentType: 'application/json',
                    data: JSON.stringify({
                        isHidden: false
                    }),
                    beforeSend: function () {
                        $this.prop('disabled', true);
                        icon.removeClass('fa-download');
                        icon.addClass('fa-spin fa-circle-notch');
                    },
                    success: function () {
                        window.location.reload()
                    },
                    error: function (xhr) {
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            alert(xhr.responseJSON.message)
                        }
                    },
                    complete: function () {
                        $this.prop('disabled', false);
                        icon.addClass('fa-download');
                        icon.removeClass('fa-spin fa-circle-notch');
                    }
                })
            });

            var makePrivate = $('.make-private-movie');

            makePrivate.on('click', function () {
                var $this = $(this);
                var id = parseInt($this.attr('data-id'));
                var icon = $this.find('.fa');

                $.ajax({
                    method: 'PUT',
                    url: '{{ path('api_v1_movies_put', {
                        'id': 999
                    }) }}'.replace('999', id),
                    contentType: 'application/json',
                    data: JSON.stringify({
                        isHidden: true
                    }),
                    beforeSend: function () {
                        $this.prop('disabled', true);
                        icon.removeClass('fa-download');
                        icon.addClass('fa-spin fa-circle-notch');
                    },
                    success: function () {
                        window.location.reload()
                    },
                    error: function (xhr) {
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            alert(xhr.responseJSON.message)
                        }
                    },
                    complete: function () {
                        $this.prop('disabled', false);
                        icon.addClass('fa-download');
                        icon.removeClass('fa-spin fa-circle-notch');
                    }
                })
            });

            var selectMovie = $('.movie-select');

            selectMovie.on('change', function (e) {
                var $this = $(this);
                var id = parseInt($this.attr('data-id'));

                if (id > 0) {
                    if (e.target.checked) {
                        state.selectedMovies.push(id)
                    } else {
                        for (var i = 0; i < state.selectedMovies.length; i++) {
                            var item = state.selectedMovies[i];
                            if (item === id) {
                                state.selectedMovies = state.selectedMovies.splice(i, 1);
                                break;
                            }
                        }
                    }
                }

                state.isSelectAll = false;
                hideMovies.prop('disabled', state.selectedMovies.length === 0)
            });

            var selectAll = $('#select-all');

            selectAll.on('click', function () {
                state.isSelectAll = !state.isSelectAll;

                hideMovies.prop('disabled', !state.isSelectAll)
            });

            clearAlphabet.on('click', function () {
                delete state.filter.letter;

                startSearch();
            });
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12 col-md-4">
                <h2>
                    {{ 'navigation.movies'|trans }}
                    <small>({{ total }})</small>
                </h2>
            </div>
            <div class="col-12 col-md-8">

                <div class="form-group">
                    <div class="form-row justify-content-end">
                        <div class="col-auto">
                            <a href="{{ path('movies_new') }}" class="btn btn-sm btn-success">
                                <i class="fa fa-plus"></i>&nbsp;{{ 'movies.add'|trans }}
                            </a>
                        </div>
                        <div class="col-auto">
                            <button id="export-movies" class="btn btn-sm btn-outline-success">
                                <i class="fa fa-download"></i>&nbsp;{{ 'movies.export'|trans }}
                            </button>

                        </div>
                        <div class="col-autotext-center">
                            <label class="btn btn-sm btn-outline-success m-0 d-block">
                                <i class="fa fa-upload"></i>&nbsp;{{ 'movies.import'|trans }}
                                <input id="import-movies" type="file" hidden name="import">
                            </label>

                            <a href="{{ 'movies.example_url'|trans }}" download="">
                                <small>
                                    <i class="fa fa-download"></i>&nbsp;{{ 'movies.example'|trans }}
                                </small>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form id="filter-form">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <select name="total" class="form-control">
                                    <option value="more">></option>
                                    <option value="more-eq">>=</option>
                                    <option value="less"><</option>
                                    <option value="less-eq"><=</option>
                                </select>
                            </div>

                            <input type="number" min="0" name="total-value"
                                   value="{{ filter.totalCount is defined ? filter.totalCount : '' }}"
                                   placeholder="{{ 'movies.filter.total_count'|trans }}"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend">
                                <select name="accepted" class="form-control">
                                    <option value="more">></option>
                                    <option value="more-eq">>=</option>
                                    <option value="less"><</option>
                                    <option value="less-eq"><=</option>
                                </select>
                            </div>

                            <input type="number" min="0" name="accepted-value"
                                   value="{{ filter.acceptedCount is defined ? filter.acceptedCount : '' }}"
                                   placeholder="{{ 'movies.filter.accepted_count'|trans }}"
                                   class="form-control">
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group mt-1">
                        <a href="{{ path('movies') }}" class="btn btn-light btn-sm">
                            <i class="fa fa-times"></i>&nbsp;{{ 'movies.filter.clear'|trans }}
                        </a>
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-search"></i>&nbsp;{{ 'movies.filter.search'|trans }}
                        </button>

                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-12 col-md-7">
                <ul id="categories" class="nav nav-tabs mb-3">
                    {% for category in categories %}
                        <li class="nav-item">
                            <a class="nav-link {{ filter.category is defined and filter.category == category.id ? 'active' : '' }}"
                               data-id="{{ category.id }}"
                               href="#">{{ ('categories.' ~ category.name)|trans }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-12 col-md-5 text-right">
                <div class="form-group">
                    <div class="form-row justify-content-end">
                        <div class="col-auto">
                            <button id="hide-movies" class="btn btn-sm btn-outline-danger mt-1" disabled>
                                <i class="fa fa-eye-slash"></i>&nbsp;{{ 'movies.make_private'|trans }}
                            </button>
                        </div>
                        <div class="col-auto">
                            <div class="mt-2">
                                <label class="text-muted">
                                    <input type="checkbox" id="select-all">
                                    {{ 'movies.select_on_all_pages'|trans }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="tab-content">
                    <div class="tab-pane active">
                        {% if total == 0 %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="banner">
                                        <img src="/img/movie-camera.png">
                                        <h3>{{ 'movies.title'|trans }}</h3>
                                        <h4>{{ 'movies.footer'|trans }}</h4>
                                    </div>
                                </div>
                            </div>
                        {% else %}

                            <div class="row mb-2">
                                {% for metadata in movies %}
                                    {% set movie = metadata[0] %}
                                    <div class="col-12 col-md-6 mb-2"
                                         {% if movie.isHidden %}style="opacity: 0.5"{% endif %}>
                                        <div class="row">
                                            <div class="col-4 col-md-3 text-center">
                                                <a href="{{ path('movies_edit', {
                                                    'id': movie.id
                                                }) }}">
                                                    <img src="{{ app.environment == 'prod' and movie.posterName
                                                    ? poster_dir ~ '/' ~ movie.posterName|escape
                                                    : 'http://via.placeholder.com/250x350' }}"
                                                         class="img-fluid"
                                                         alt="{{ 'poster'|trans }}"
                                                         title="{{ movie.name|escape }}"
                                                         style="max-height:150px">
                                                </a>
                                            </div>
                                            <div class="col-8 col-md-9">
                                                <div class="movie-card">
                                                    <h5 class="text-truncate"
                                                        title="{{ movie.name|escape }}">

                                                        <input type="checkbox" class="movie-select"
                                                               data-id="{{ movie.id }}">

                                                        {% if movie.isHidden %}<i
                                                                class="fa fa-eye-slash"></i>&nbsp;{% endif %}
                                                        {{ movie.name|escape }}</h5>

                                                    <p>

                                                        <a href="{{ path('submissions') }}?filter[movie]={{ movie.id }}">
                                                                <span class="badge badge-primary">
                                                                {{ 'movies.badge_total'|trans }}
                                                                    :&nbsp;#{{ metadata.submissionTotalCount }}</span>
                                                        </a>


                                                        <a href="{{ path('submissions') }}?filter[movie]={{ movie.id }}&filter[status]=accepted">
                                                            &nbsp;<span class="badge badge-success">
                                                                    {{ 'movies.badge_accepted'|trans }}
                                                                :&nbsp;#{{ metadata.submissionAcceptedCount }}</span>
                                                        </a>

                                                    </p>

                                                    {% if movie.isHidden %}
                                                        <a href="#"
                                                           class="btn btn-sm btn-outline-dark make-public-movie"
                                                           data-id="{{ movie.id }}">
                                                            <i class="fa fa-eye"></i>&nbsp;{{ 'movies.make_public'|trans }}
                                                        </a>
                                                    {% else %}
                                                        <a href="#"
                                                           class="btn btn-sm btn-outline-dark make-private-movie"
                                                           data-id="{{ movie.id }}">
                                                            <i class="fa fa-eye-slash"></i>&nbsp;{{ 'movies.make_private'|trans }}
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-12">
                                <ul id="pagination-alphabet" class="pagination pagination-sm justify-content-lg-center">
                                    {% for letter in 'alphabet'|trans|split('') %}
                                        <li class="page-item {{ filter.letter is defined and filter.letter == letter ? 'active' : '' }}">
                                            <a class="page-link alphabet" data-id="{{ letter }}"
                                               href="#">{{ letter }}</a>
                                        </li>
                                    {% endfor %}

                                    {% if filter.letter is defined %}
                                        <li class="page-item">
                                            <a class="page-link" id="clear-alphabet"
                                               href="#"><i
                                                        class="fa fa-times"></i>&nbsp;{{ 'movies.filter.clear'|trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        {% if pages > 1 %}
                            <div class="row">
                                <div class="col-12">
                                    <ul id="pagination" class="pagination justify-content-lg-center">
                                        {% for range in get_pagination_range(page, total, limit, pages) %}
                                            <li class="page-item {{ range == page ? 'active' : '' }}">
                                                <a class="page-link" data-id="{{ range }}"
                                                   href="#">{{ range }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="importMoviesModalFailure">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'movies.import_status'|trans }}</h5>
                    </div>
                    <div class="modal-body">
                        <p> {{ 'movies.import_status_failure'|trans }}</p>
                        <ul></ul>
                        <p class="text-center">
                            <a href="javascript:" class="btn btn-warning" download="">
                                <i class="fa fa-download"></i>&nbsp;{{ 'movies.import_status_failure_action'|trans }}
                            </a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn btn-outline-secondary"
                           data-dismiss="modal">{{ 'close'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}
