{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.movies'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/movie-cards.css">
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var state = {
                page: {{ page }},
                filter: JSON.parse('{{ filter_json|raw }}'),
            };

            var alphabetPagination = $('#pagination-alphabet');
            var clearAlphabet = $('#clear-alphabet');
            var pagination = $('#pagination');
            var categories = $('#categories');
            var searchValue = $('#movie-search-value');
            var searchSubmit = $('#movie-search-submit');
            var searchClear = $('#movie-search-clear');

            if (state.filter.search) {
                searchValue.val(state.filter.search)
            }

            var startSearch = function () {
                var query = [
                    'page=' + state.page
                ];

                for (var key in state.filter) {
                    if (!state.filter.hasOwnProperty(key)) continue;

                    query.push('filter[' + key + ']=' + state.filter[key])
                }

                window.location = '{{ path('movies') }}?' + query.join('&')
            };

            var searchIfEnter = function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();

                    startSearch();
                }
            };

            searchValue.on('keypress', searchIfEnter);

            searchValue.on('focus input', function (e) {
                state.filter.search = e.target.value;
            });

            searchClear.on('click', function () {
                delete state.filter.search;

                startSearch()
            });

            searchSubmit.on('click', startSearch);

            categories.find('.nav-link').on('click', function (e) {
                e.preventDefault();

                var category = parseInt($(this).attr('data-id'));
                if (category > 0) {

                    state.filter.category = category;

                    startSearch();
                }
            });

            alphabetPagination.find('.alphabet').on('click', function (e) {
                e.preventDefault();

                var letter = $(this).attr('data-id');
                if (letter) {
                    state.filter.letter = letter;

                    startSearch();
                }
            });

            pagination.find('.page-link').on('click', function (e) {
                e.preventDefault();

                var page = parseInt($(this).attr('data-id'));
                if (page > 0) {

                    state.page = page;

                    startSearch();
                }
            });

            clearAlphabet.on('click', function () {
                delete state.filter.letter;

                startSearch();
            });
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">

                <h2>
                    {{ 'navigation.movies'|trans }}
                </h2>

                <div class="row">
                    <div class="col-12 col-md-8">
                        <ul id="categories" class="nav nav-tabs mb-3">
                            {% for category in categories %}
                                <li class="nav-item">
                                    <a class="nav-link {{ filter.category is defined and filter.category == category.id ? 'active' : '' }}"
                                       data-id="{{ category.id }}"
                                       href="#">{{ ('categories.' ~ category.name)|trans }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="input-group mb-3">
                            <input id="movie-search-value" class="form-control" name="search" placeholder="{{ 'movies.filter.search'|trans }}"/>
                            <div class="input-group-append">
                                <button id="movie-search-clear" class="btn btn-outline-secondary">
                                    <i class="fa fa-times"></i>
                                </button>
                                <button id="movie-search-submit" class="btn btn-outline-primary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                {% if total == 0 %}
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="banner">
                                                <img src="/img/movie-camera.png">
                                                <h3>{{ 'movies.title'|trans }}</h3>
                                                <h4>{{ 'movies.footer_user'|trans }}</h4>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}

                                    <div class="row movie-cards mb-4 no-gutters">
                                        {% for movie in movies %}

                                            {% set image = app.environment == 'prod' and movie.posterName
                                                ? (poster_dir ~ '/' ~ movie.posterName|escape)
                                                : 'http://via.placeholder.com/250x350' %}

                                            <div class="col-12 col-sm-4 col-md-3 col-lg-2">
                                                <div class="card mb-2 mr-2 shadow">
                                                    <a href="{{ path('submissions_new', {
                                                        'id': movie.id
                                                    }) }}">
                                                        <div class="card-header">
                                                            <img class="card-img" src="{{ image }}"
                                                                 alt="{{ 'poster'|trans }}"
                                                                 title="{{ movie.name|escape }}">
                                                        </div>
                                                        <div class="card-body py-2 px-1">
                                                            <p class="text-truncate card-title m-0"
                                                               title="{{ movie.name|escape }}">{{ movie.name|escape }}</p>
                                                            <div class="metadata">
                                                                <small>{{ ('categories.' ~ movie.category.name)|trans }}</small>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                <div class="row">
                                    <div class="col-12">
                                        <ul id="pagination-alphabet"
                                            class="pagination pagination-sm justify-content-lg-center">
                                            {% for letter in 'alphabet'|trans|split('') %}
                                                <li class="page-item {{ filter.letter is defined and filter.letter == letter ? 'active' : '' }}">
                                                    <a class="page-link alphabet" data-id="{{ letter }}"
                                                       href="#">{{ letter }}</a>
                                                </li>
                                            {% endfor %}

                                            {% if filter.letter is defined %}
                                                <li class="page-item">
                                                    <a class="page-link" id="clear-alphabet"
                                                       href="#"><i
                                                                class="fa fa-times"></i>&nbsp;{{ 'movies.filter.clear'|trans }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>

                                {% if pages > 1 %}
                                    <div class="row">
                                        <div class="col-12">
                                            <ul id="pagination" class="pagination justify-content-lg-center">
                                                {% for range in get_pagination_range(page, total, limit, pages) %}
                                                    <li class="page-item {{ range == page ? 'active' : '' }}">
                                                        <a class="page-link" data-id="{{ range }}"
                                                           href="#">{{ range }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}