{% extends 'base.html.twig' %}

{% block title %}{{ 'movies.add'|trans }}{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            var MIME_TYPES = '{{ upload_poster_mime_types }}'.split(',');
            var FILE_SIZE_BYTES = parseInt('{{ upload_poster_max_filesize_mb * 1000 * 1000 }}');

            var form = $('#movie');
            var name = form.find('[name="name"]');
            var isHidden = form.find('[name="isHidden"]');
            var posterName = form.find('[name="posterName"]');
            var posterNameLabel = form.find('.custom-file-label');
            var category = form.find('[name="category"]');
            var submit = form.find('[type="submit"]');
            var submitIcon = submit.find('.fa');

            var selectedFile = null;
            var state = {
                name: null,
                category: null,
                isHidden: false,
            };

            var validate = function () {
                var count = 0;

                if (!state.name || state.name.length < 3) {
                    ++count
                }

                if (!state.category) {
                    ++count
                }

                if (!selectedFile) {
                    ++count
                } else {

                    if (selectedFile.type && MIME_TYPES.indexOf(selectedFile.type) === -1) {
                        ++count;

                        posterName.val(null);
                        posterNameLabel.text('');

                        selectedFile = null
                    }

                    if (selectedFile.size > FILE_SIZE_BYTES) {
                        ++count;

                        posterName.val(null);
                        posterNameLabel.text('');

                        selectedFile = null
                    }
                }

                var isValid = count === 0;

                submit.prop('disabled', !isValid);

                return isValid
            };

            var save = function () {

                if (!validate()) return;

                var data = new FormData();
                data.append('content', JSON.stringify(state));
                data.append('poster', selectedFile);

                $.ajax({
                    method: 'POST',
                    url: '{{ path('api_v1_movies_post') }}',
                    processData: false,
                    contentType: false,
                    data: data,
                    beforeSend: function () {
                        submit.prop('disabled', true);
                        submitIcon.removeClass('fa-check');
                        submitIcon.addClass('fa-spin fa-circle-notch')
                    },
                    success: function () {
                        window.location = '{{ path('movies') }}'
                    },
                    complete: function () {
                        submit.prop('disabled', false);
                        submitIcon.addClass('fa-check');
                        submitIcon.removeClass('fa-spin fa-circle-notch')
                    }
                })
            };

            name.on('input', function (e) {
                state.name = e.target.value;

                if (validate() && e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            });

            category.on('change', function (e) {
                state.category = e.target.value;

                validate();
            });

            posterName.on('change', function (e) {

                var file = e.target.files[0];
                var name = '';
                if (file) {
                    name = file.name;

                    selectedFile = file
                } else {
                    selectedFile = null
                }

                posterNameLabel.text(name);

                validate()
            });

            isHidden.on('change', function (e) {
                state.isHidden = e.target.checked;

                validate()
            });

            form.on('submit', function (e) {
                e.preventDefault();

                save();
            })
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">

                <h2>{{ 'movies.add'|trans }}</h2>

                <form id="movie">

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'name'|trans }}</label>
                            </div>
                            <input type="text" name="name"
                                   class="form-control"
                                   required>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'category'|trans }}</label>
                            </div>
                            <select class="form-control"
                                    name="category"
                                    required>
                                <option selected>...</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ ('categories.' ~ category.name)|trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'poster'|trans }}</label>
                            </div>
                            <input type="file" name="posterName"
                                   class="form-control"
                                   accept="{{ upload_poster_mime_types }}"
                                   min="1"
                                   max="1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="active">
                            <input id="active" type="checkbox"
                                   name="isHidden">

                            &nbsp;{{ 'is_hidden'|trans }}
                        </label>
                    </div>

                    <button type="submit" class="btn btn-success" disabled>
                        <i class="fa fa-check"></i>&nbsp;{{ 'movies.create'|trans }}
                    </button>
                </form>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}
