{% extends 'base.html.twig' %}

{% block title %}{{ 'register.title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/pwstrength-bootstrap.min.js"></script>

    {% if google_recaptcha_enabled %}
        <script src="https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>
    {% endif %}

    <script>

        var validationMessages = {
            genericError: '{{ 'validation.generic_form_error'|trans }}',
            invalid: '{{ 'validation.field_is_invalid'|trans }}',
            isRequired: '{{ 'validation.field_is_required'|trans }}',
            passwordMismatch: '{{ 'validation.password_mismatch'|trans }}',
            passwordWeak: '{{ 'validation.password_weak'|trans }}',
            emailReserved: '{{ 'validation.email_reserved'|trans }}',
            termsShouldBeAccepted: '{{ 'validation.accepted_terms'|trans }}',
            you_are_a_robot: '{{ 'validation.you_are_a_robot'|trans }}',
        };

        var state = {
            isPasswordStrong: false,
            isValid: false,
            model: {
                name: null,
                email: null,
                password: null,
                password2: null,
                birthday: null,
                isTermsAccepted: false,
            },
            changes: {
                name: false,
                email: false,
                password: false,
                password2: false,
                birthday: false,
                isTermsAccepted: false,
            }
        };

        function onCaptchaNotSolved() {

            console.error('onCaptchaNotSolved');

            var formError = $('#register-error');
            formError.removeClass('d-none');
            formError.text(validationMessages.you_are_a_robot);
        }

        function onCaptchaSolved(token) {

            console.info('onCaptchaSolved');

            if (!state.isValid) return;

            var successModal = $('#registerSuccessModal');
            var form = $('#register');
            var formError = $('#register-error');

            var submit = form.find('[type="submit"]');
            var submitIcon = submit.find('.fa');

            var model = state.model;
            model['g-recaptcha-response'] = token;

            $.ajax({
                method: 'POST',
                url: '{{ path('api_v1_register_post') }}',
                contentType: 'application/json',
                data: JSON.stringify(model),
                beforeSend: function () {
                    submit.prop('disabled', true);
                    submitIcon.removeClass('fa-check');
                    submitIcon.addClass('fa-spin fa-circle-notch');

                    formError.addClass('d-none')
                },
                success: function () {
                    successModal.modal('show')
                },
                error: function (xhr) {
                    formError.removeClass('d-none');
                    if (xhr.responseJSON && xhr.responseJSON.message) {
                        formError.text(xhr.responseJSON.message);
                    } else {
                        formError.text(validationMessages.genericError);
                    }
                },
                complete: function () {
                    submit.prop('disabled', true);
                    submitIcon.addClass('fa-check');
                    submitIcon.removeClass('fa-spin fa-circle-notch')
                }
            });
        }

        $(function () {

            var IS_CAPTCHA_ENABLED = {{ google_recaptcha_enabled ? 'true' : 'false' }};

            var form = $('#register');

            var name = form.find('[name="name"]');
            var nameError = name.closest('.form-group').find('.feedback');

            var email = form.find('[name="email"]');
            var emailError = email.closest('.form-group').find('.feedback');

            var password = form.find('[name="password"]');
            var passwordError = password.closest('.form-group').find('.feedback');
            var passwordCapitalWarning = password.closest('.form-group').find('.capital-warning');

            var password2 = form.find('[name="password2"]');
            var password2Error = password2.closest('.form-group').find('.feedback');

            var isTermsAccepted = form.find('[name="isTermsAccepted"]');
            var isTermsAcceptedError = isTermsAccepted.closest('.form-group').find('.feedback');

            var birthday = form.find('[name="birthday"]');
            var birthdayError = birthday.closest('.form-group').find('.feedback');

            var submit = form.find('[type="submit"]');

            var validate = function () {
                var count = 0;

                emailError.removeClass('d-block');
                emailError.addClass('d-none')

                isTermsAcceptedError.removeClass('d-block');
                isTermsAcceptedError.addClass('d-none')

                nameError.removeClass('d-block');
                nameError.addClass('d-none')

                passwordError.removeClass('d-block');
                passwordError.addClass('d-none')

                passwordCapitalWarning.addClass('d-none');
                passwordCapitalWarning.removeClass('d-block')

                password2Error.removeClass('d-block');
                password2Error.addClass('d-none')

                birthdayError.removeClass('d-block');
                birthdayError.addClass('d-none')

                if (!state.model.isTermsAccepted) {
                    ++count;

                    if (state.changes.isTermsAccepted) {
                        isTermsAcceptedError.addClass('invalid-feedback d-block');
                        isTermsAcceptedError.removeClass('d-none');
                        isTermsAcceptedError.text(validationMessages.termsShouldBeAccepted)
                    }
                }

                if (!state.model.name) {
                    ++count;

                    if (state.changes.name) {
                        nameError.addClass('invalid-feedback d-block');
                        nameError.removeClass('d-none');
                        nameError.text(validationMessages.isRequired)
                    }
                }

                if (!state.model.email) {
                    ++count;

                    if (state.changes.email) {
                        emailError.addClass('invalid-feedback d-block');
                        emailError.text(validationMessages.isRequired);
                        emailError.removeClass('d-none')
                    }
                } else if (!EmailValidator(state.model.email)) {
                    ++count;

                    if (state.changes.email) {
                        emailError.addClass('invalid-feedback d-block');
                        emailError.text(validationMessages.invalid);
                        emailError.removeClass('d-none')
                    }
                }

                if (!state.model.password) {
                    ++count;

                    if (state.changes.password) {
                        passwordError.addClass('invalid-feedback d-block');
                        passwordError.text(validationMessages.isRequired);
                        passwordError.removeClass('d-none')
                    }
                } else {
                    if (/\s+/.test(state.model.password)) {
                        ++count;

                        if (state.changes.password) {
                            passwordError.addClass('invalid-feedback d-block');
                            passwordError.text(validationMessages.invalid);
                            passwordError.removeClass('d-none')
                        }
                    } else if (!state.isPasswordStrong) {
                        ++count;

                        if (state.changes.password) {
                            passwordError.addClass('invalid-feedback d-block');
                            passwordError.text(validationMessages.passwordWeak);
                            passwordError.removeClass('d-none')
                        }
                    }

                    if (state.model.password !== state.model.password.toLowerCase()) {
                        passwordCapitalWarning.removeClass('d-none');
                        passwordCapitalWarning.addClass('d-block')
                    }
                }

                if (!state.model.password2) {
                    ++count;

                    if (state.changes.password2) {
                        password2Error.addClass('invalid-feedback d-block');
                        password2Error.text(validationMessages.isRequired);
                        password2Error.removeClass('d-none')
                    }
                }

                if (!state.model.birthday) {
                    ++count;

                    if (state.changes.birthday) {
                        birthdayError.addClass('invalid-feedback d-block');
                        birthdayError.removeClass('d-none')
                        birthdayError.text(validationMessages.isRequired);
                    }
                } else if (state.changes.birthday) {
                    var now = moment();
                    var date = moment(state.model.birthday, 'YYYY-MM-DD');

                    if (now.diff(date, "years") < 18) {
                        birthdayError.addClass('invalid-feedback d-block');
                        birthdayError.removeClass('d-none');
                        birthdayError.text(validationMessages.invalid);
                    }

                }

                if (state.model.password && state.model.password2 && state.model.password !== state.model.password2) {
                    ++count;

                    if (state.changes.password2) {
                        password2Error.addClass('invalid-feedback d-block');
                        password2Error.text(validationMessages.passwordMismatch);
                        password2Error.removeClass('d-none')
                    }
                }

                state.isValid = count === 0;

                submit.prop('disabled', !state.isValid);
            };

            var save = function () {

                if (IS_CAPTCHA_ENABLED) {
                    if (typeof grecaptcha !== "undefined") {
                        grecaptcha.execute();
                    } else {
                        onCaptchaNotSolved()
                    }
                } else {
                    onCaptchaSolved('development');
                }

            };

            var saveIfEnter = function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            };

            name.on('keypress', saveIfEnter);
            email.on('keypress', saveIfEnter);
            password.on('keypress', saveIfEnter);
            password2.on('keypress', saveIfEnter);

            name.on('focus input', function (e) {
                state.model.name = e.target.value;
                state.changes.name = true;

                validate()
            });

            email.on('focus input', function (e) {
                state.model.email = e.target.value = e.target.value.toLowerCase();
                state.changes.email = true;

                validate()
            });

            password.on('focus input', function (e) {
                state.model.password = e.target.value;
                state.changes.password = true;

                validate()
            });

            password2.on('focus input', function (e) {
                state.model.password2 = e.target.value;
                state.changes.password2 = true;

                validate()
            });

            isTermsAccepted.on('change', function (e) {
                state.model.isTermsAccepted = e.target.checked;
                state.changes.isTermsAccepted = true;

                validate()
            });

            birthday.on('change', function (e) {

                state.changes.birthday = true;

                var value = e.target.value;
                if (value) {
                    state.model.birthday = value
                } else {
                    state.model.birthday = null
                }

                validate()
            });

            form.on('submit', function (e) {
                e.preventDefault();

                save();
            });

            password.pwstrength({
                common: {
                    minChar: 8,
                    onKeyUp: function (evt, data) {
                        state.isPasswordStrong = data.score >= 26
                    }
                },
                ui: {
                    scores: [0, 14, 26, 38, 50],
                    bootstrap4: true,
                    container: "#pwd-container",
                    viewports: {
                        progress: ".pwstrength_viewport_progress"
                    },
                    showVerdictsInsideProgressBar: true
                }
            });

            birthday.datepicker({
                format: 'yyyy-mm-dd',
                startView: 'years',
                autoclose: true,
                endDate: new Date()
            });
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">

                <h1>{{ 'register.title'|trans }}</h1>

                <p class="text-muted">{{ 'register.already_registered'|trans }}&nbsp;<a
                            href="{{ path('login') }}">{{ 'navigation.login'|trans }}</a></p>

                <form id="register" class="needs-validation">

                    <div id="register-error" class="alert alert-danger d-none">
                        {{ 'validation.generic_form_error'|trans }}
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-6">

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'name'|trans }}</label>
                                    </div>
                                    <input type="text" name="name"
                                           class="form-control"
                                           required>
                                </div>
                                <small class="feedback"></small>
                                <small class="warning-feedback">
                                    <i class="fa fa-exclamation-triangle"></i>&nbsp;{{ 'users.name_is_permanent'|trans }}
                                </small>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.email'|trans }}</label>
                                    </div>
                                    <input type="text" name="email"
                                           class="form-control"
                                           required>
                                </div>

                                <small class="feedback"></small>

                                <small class="warning-feedback">
                                    <i class="fa fa-exclamation-triangle"></i>&nbsp;{{ 'users.email_is_permanent'|trans }}
                                </small>
                            </div>

                            <div class="form-group" id="pwd-container">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.password'|trans }}</label>
                                    </div>
                                    <input type="password"
                                           name="password"
                                           class="form-control"
                                           required>
                                </div>

                                <div class="my-1 pwstrength_viewport_progress"></div>

                                <small class="feedback"></small>

                                <small class="warning-feedback capital-warning d-none">
                                    <i class="fa fa-info-circle"></i>&nbsp;{{ 'validation.capital_letter_in_sensitive_field'|trans }}
                                </small>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.password_repeat'|trans }}</label>
                                    </div>
                                    <input type="password"
                                           name="password2"
                                           class="form-control"
                                           required>
                                </div>
                                <div class="feedback"></div>

                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.birthday'|trans }}</label>
                                    </div>
                                    <input type="text"
                                           name="birthday"
                                           class="form-control"
                                           required>
                                </div>
                                <div class="feedback"></div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-6">

                            <div class="quote">
                                {{ 'register.terms_content'|trans|raw }}
                            </div>

                            <div class="form-group text-center">
                                <label for="active">
                                    <input id="active" type="checkbox"
                                           name="isTermsAccepted">
                                    &nbsp;{{ 'register.accept_terms'|trans }}
                                </label>
                                <div class="feedback"></div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            {% if google_recaptcha_enabled %}
                                <button type="submit" class="btn btn-success g-recaptcha"
                                        disabled
                                        data-sitekey="{{ google_recaptcha_site_key }}"
                                        data-callback="onCaptchaSolved"
                                        data-error-callback="onCaptchaNotSolved"
                                        data-size="invisible">
                                    <i class="fa fa-check"></i>&nbsp;{{ 'register.submit'|trans }}
                                </button>
                            {% else %}
                                <button type="submit" class="btn btn-success"
                                        disabled>
                                    <i class="fa fa-check"></i>&nbsp;{{ 'register.submit'|trans }}
                                </button>
                            {% endif %}
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="modal fade" id="registerSuccessModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'register.success.title'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ 'register.success.content'|trans|raw }}
                    </div>
                    <div class="modal-footer">
                        <a href="{{ path('login') }}" class="btn btn-success">OK</a>
                    </div>
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}
