{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.reset_password'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form id="password-form" class="form-signin shadow-sm bg-white">
                    <h1 class="h3 mb-3 font-weight-normal">{{ 'reset_password.title'|trans }}</h1>

                    <p class="text-muted">{{ 'reset_password.remembered'|trans }}&nbsp;<a
                                href="{{ path('login') }}">{{ 'navigation.login'|trans }}</a></p>

                    <div id="password-form-error" class="alert alert-danger d-none">
                        {{ 'reset_password.error'|trans }}
                    </div>
                    <div id="password-form-success" class="alert alert-success d-none">
                        {{ 'reset_password.success'|trans }}
                    </div>

                    <div class="form-group">
                        <input type="text"
                               name="login"
                               class="form-control"
                               placeholder="{{ 'users.email'|trans }}"
                               autofocus
                               required="">
                        <small class="feedback"></small>
                    </div>

                    {% if google_recaptcha_enabled %}
                        <button type="submit" class="btn btn-lg btn-success btn-block g-recaptcha"
                                disabled
                                data-sitekey="{{ google_recaptcha_site_key }}"
                                data-callback="onCaptchaSolved"
                                data-error-callback="onCaptchaNotSolved"
                                data-size="invisible">
                            <i class="fa fa-key"></i>&nbsp;{{ 'login.confirm'|trans }}
                        </button>
                    {% else %}
                        <button class="btn btn-lg btn-success btn-block"
                                disabled
                                type="submit">
                            <i class="fa fa-key"></i>&nbsp;{{ 'login.confirm'|trans }}
                        </button>
                    {% endif %}
                </form>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}

    {% if google_recaptcha_enabled %}
        <script src="https://www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>
    {% endif %}

    <script>

        var validationMessages = {
            genericError: '{{ 'validation.generic_form_error'|trans }}',
            invalid: '{{ 'validation.field_is_invalid'|trans }}',
            isRequired: '{{ 'validation.field_is_required'|trans }}',
            passwordMismatch: '{{ 'validation.password_mismatch'|trans }}',
            passwordWeak: '{{ 'validation.password_weak'|trans }}',
            emailReserved: '{{ 'validation.email_reserved'|trans }}',
            you_are_a_robot: '{{ 'validation.you_are_a_robot'|trans }}',
        };

        var state = {
            isValid: false,
            model: {
                login: '',
            }
        };

        function onCaptchaNotSolved() {

            console.error('onCaptchaNotSolved');

            var formError = $('#password-form-error');
            formError.removeClass('d-none');
            formError.text(validationMessages.you_are_a_robot);
        }

        function onCaptchaSolved(token) {

            console.info('onCaptchaSolved');

            if (!state.isValid) return;

            var form = $('#password-form');
            var formError = $('#password-form-error');
            var formSuccess = $('#password-form-success');

            var submit = form.find('[type="submit"]');
            var submitIcon = submit.find('.fa');

            var model = state.model;
            model['g-recaptcha-response'] = token;

            $.ajax({
                method: 'POST',
                url: '{{ path('api_v1_reset_password_post') }}',
                contentType: 'application/json',
                data: JSON.stringify(model),
                beforeSend: function () {
                    formError.addClass('d-none');
                    formSuccess.addClass('d-none');
                    submitIcon.removeClass('fa-key');
                    submitIcon.addClass('fa-spin fa-circle-notch');
                },
                success: function () {
                    submitIcon.addClass('fa-check');
                    formSuccess.removeClass('d-none');

                    submit.prop('disabled', true);
                },
                error: function (xhr) {
                    submitIcon.addClass('fa-key');
                    formError.removeClass('d-none');

                    if (xhr && xhr.responseJSON && xhr.responseJSON.message) {
                        formError.text(xhr.responseJSON.message);
                    } else {
                        formError.text('{{ 'reset_password.error'|trans }}');
                    }
                },
                complete: function () {
                    submitIcon.removeClass('fa-spin fa-circle-notch');
                }
            });

            if (typeof grecaptcha !== "undefined") {
                grecaptcha.reset();
            }
        }

        $(function () {
            var IS_CAPTCHA_ENABLED = {{ google_recaptcha_enabled ? 'true' : 'false' }};

            var form = $('#password-form');

            var login = form.find('[name="login"]');
            var submit = form.find('[type="submit"]');

            submit.prop('disabled', !state.isValid);

            var validate = function () {
                var count = 0;

                if (!state.model.login) {
                    ++count;
                }

                state.isValid = count === 0;

                submit.prop('disabled', !state.isValid);
            };

            var saveIfEnter = function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            };

            var save = function () {

                if (IS_CAPTCHA_ENABLED) {
                    if (typeof grecaptcha !== "undefined") {
                        grecaptcha.execute();
                    } else {
                        onCaptchaNotSolved()
                    }
                } else {
                    onCaptchaSolved('development');
                }
            };

            submit.prop('disabled', true);

            login.on('focus input', function (e) {
                state.model.login = e.target.value.toLowerCase();

                validate()
            });

            login.on('keypress', saveIfEnter);

            form.on('submit', function (e) {
                e.preventDefault();

                save();
            });
        })
    </script>
{% endblock %}