{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.set_password'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/login.css">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form id="password-form" class="form-signin shadow-sm bg-white">
                    <h1 class="h3 mb-3 font-weight-normal">{{ 'set_password.title'|trans }}</h1>

                    <p class="text-center text-muted"><i class="fa fa-user-circle"></i>&nbsp;{{ user.email }}</p>

                    <p class="text-muted">{{ 'set_password.remembered'|trans }}&nbsp;<a
                                href="{{ path('login') }}">{{ 'navigation.login'|trans }}</a></p>

                    <div id="password-form-error" class="alert alert-danger d-none">
                        {{ 'set_password.error'|trans }}
                    </div>

                    <div id="password-form-success" class="alert alert-success d-none">
                        {{ 'set_password.success'|trans }}
                    </div>

                    <div class="mb-1">
                        <input type="password"
                               name="password"
                               class="form-control"
                               placeholder="{{ 'users.password'|trans }}"
                               autofocus
                               required="">
                        <div class="pwstrength_viewport_progress"></div>
                        <small class="feedback invalid-feedback"></small>
                    </div>

                    <div class="mb-1">

                        <input type="password"
                               name="password2"
                               class="form-control"
                               placeholder="{{ 'users.password_repeat'|trans }}"
                               required="">
                        <small class="feedback invalid-feedback"></small>
                    </div>

                    <button class="btn btn-lg btn-success btn-block"
                            disabled
                            type="submit">
                        <i class="fa fa-key"></i>&nbsp;{{ 'login.confirm'|trans }}
                    </button>
                </form>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/js/pwstrength-bootstrap.min.js"></script>
    <script>

        $(function () {
            var form = $('#password-form');
            var formError = $('#password-form-error');
            var formSuccess = $('#password-form-success');

            var password = form.find('[name="password"]');
            var passwordError = password.closest('.mb-1').find('.feedback');

            var password2 = form.find('[name="password2"]');
            var password2Error = password2.closest('.mb-1').find('.feedback');

            var submit = form.find('[type="submit"]');
            var submitIcon = submit.find('.fa');

            var validationMessages = {
                genericError: '{{ 'validation.generic_form_error'|trans }}',
                invalid: '{{ 'validation.field_is_invalid'|trans }}',
                isRequired: '{{ 'validation.field_is_required'|trans }}',
                passwordMismatch: '{{ 'validation.password_mismatch'|trans }}',
                passwordWeak: '{{ 'validation.password_weak'|trans }}',
                emailReserved: '{{ 'validation.email_reserved'|trans }}',
                termsShouldBeAccepted: '{{ 'validation.accepted_terms'|trans }}',
            };

            var state = {
                isValid: false,
                isPasswordStrong: false,
                changes: {
                    password: false,
                    password2: false,
                },
                model: {
                    password: '',
                    password2: ''
                }
            };

            submit.prop('disabled', !state.isValid);

            var validate = function () {
                var count = 0;

                passwordError.addClass('d-none');
                password2Error.addClass('d-none');

                passwordError.removeClass('d-block');
                password2Error.removeClass('d-block');

                if (!state.model.password) {
                    ++count;

                    if (state.changes.password) {
                        passwordError.text(validationMessages.isRequired);
                        passwordError.removeClass('d-none');
                        passwordError.addClass('d-block');
                    }
                } else {
                    if (/\s+/.test(state.model.password)) {
                        ++count;

                        if (state.changes.password) {
                            passwordError.text(validationMessages.invalid);
                            passwordError.removeClass('d-none');
                            passwordError.addClass('d-block');
                        }
                    } else if (!state.isPasswordStrong) {
                        ++count;

                        if (state.changes.password) {
                            passwordError.text(validationMessages.passwordWeak);
                            passwordError.removeClass('d-none');
                            passwordError.addClass('d-block');
                        }
                    }
                }

                if (!state.model.password2) {
                    ++count;

                    if (state.changes.password2) {
                        password2Error.text(validationMessages.isRequired);
                        password2Error.removeClass('d-none');
                        password2Error.addClass('d-block');
                    }
                }

                if (state.model.password && state.model.password2
                    && state.model.password !== state.model.password2) {
                    ++count;

                    password2Error.text(validationMessages.passwordMismatch);
                    password2Error.removeClass('d-none');
                    password2Error.addClass('d-block');

                }

                state.isValid = count === 0;

                submit.prop('disabled', !state.isValid);
            };

            var save = function () {

                if (!state.isValid) return;

                $.ajax({
                    method: 'PUT',
                    url: '{{ path('api_v1_set_password_put', {
                        'token': user.passwordToken
                    }) }}',
                    contentType: 'application/json',
                    data: JSON.stringify(state.model),
                    beforeSend: function () {
                        formError.addClass('d-none');
                        formSuccess.addClass('d-none');
                        submitIcon.removeClass('fa-key');
                        submitIcon.addClass('fa-spin fa-circle-notch');
                    },
                    success: function () {
                        submitIcon.addClass('fa-check');
                        formSuccess.removeClass('d-none');

                        submit.prop('disabled', true);

                        setTimeout(function () {
                            window.location = '{{ path('login') }}'
                        }, 2000);
                    },
                    error: function () {
                        submitIcon.addClass('fa-key');
                        formError.removeClass('d-none')
                    },
                    complete: function () {
                        submitIcon.removeClass('fa-spin fa-circle-notch');
                    }
                })
            };

            var saveIfEnter = function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            };

            submit.prop('disabled', true);

            password.on('focus input', function (e) {
                state.model.password = e.target.value;
                state.changes.password = true;

                validate()
            });

            password2.on('focus input', function (e) {
                state.model.password2 = e.target.value;
                state.changes.password2 = true;

                validate()
            });

            password.on('keypress', saveIfEnter);
            password2.on('keypress', saveIfEnter);

            form.on('submit', function (e) {
                e.preventDefault();

                save();
            });

            password.pwstrength({
                common: {
                    minChar: 8,
                    onKeyUp: function (evt, data) {
                        state.isPasswordStrong = data.score >= 26
                    }
                },
                ui: {
                    scores: [0, 14, 26, 38, 50],
                    bootstrap4: true,
                    container: "#pwd-container",
                    viewports: {
                        progress: ".pwstrength_viewport_progress"
                    },
                    showVerdictsInsideProgressBar: true
                }
            });
        })
    </script>
{% endblock %}