{% extends 'base.html.twig' %}

{% block title %}#{{ submission.id }} {{ submission.movie.name }}{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            var form = $('#submission');

            var acceptBtn = $('#accept');
            var acceptBtnIcon = acceptBtn.find('.fa');

            var rejectBtn = $('#reject');
            var rejectBtnIcon = rejectBtn.find('.fa');

            var status = form.find('[name="status"]');

            var state = {
                id: {{ submission.id ? submission.id : 'null' }},
                status: '{{ submission.status }}',
            };

            status.val(state.status);

            acceptBtn.on('click', function () {

                if (!confirm('{{ 'submission.accept_confirm'|trans }}')) return;

                $.ajax({
                    method: 'PUT',
                    url: '{{ path('api_v1_submissions_put', {
                        'id': submission.id
                    }) }}',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        status: 'accepted'
                    }),
                    beforeSend: function () {
                        acceptBtn.prop('disabled', true);
                        acceptBtnIcon.removeClass('fa-thumb-up');
                        acceptBtnIcon.addClass('fa-spin fa-circle-notch')
                    },
                    success: function () {
                        window.location.reload()
                    },
                    complete: function () {
                        acceptBtn.prop('disabled', false);
                        acceptBtnIcon.addClass('fa-thumb-up');
                        acceptBtnIcon.removeClass('fa-spin fa-circle-notch')
                    }
                });
            });

            rejectBtn.on('click', function () {

                if (!confirm('{{ 'submission.reject_confirm'|trans }}')) return;

                $.ajax({
                    method: 'PUT',
                    url: '{{ path('api_v1_submissions_put', {
                        'id': submission.id
                    }) }}',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        status: 'rejected'
                    }),
                    beforeSend: function () {
                        rejectBtn.prop('disabled', true);
                        rejectBtnIcon.removeClass('fa-thumb-down');
                        rejectBtnIcon.addClass('fa-spin fa-circle-notch')
                    },
                    success: function () {
                        window.location.reload()
                    },
                    complete: function () {
                        rejectBtn.prop('disabled', false);
                        rejectBtnIcon.addClass('fa-thumb-down');
                        rejectBtnIcon.removeClass('fa-spin fa-circle-notch')
                    }
                });
            });
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">

                <h2>#{{ submission.id }} {{ submission.movie.name }}</h2>

                <div class="form-group text-center">
                    <button id="reject"
                            {{ submission.status != 'submitted' ? 'disabled' : ''}}
                            class="btn btn-lg btn-danger">
                        <i class="fa fa-thumbs-down"></i>&nbsp;{{ 'submission.reject'|trans }}
                    </button>
                    <button id="accept"
                            {{ submission.status != 'submitted' ? 'disabled' : ''}}
                            class="btn btn-lg btn-success">
                        <i class="fa fa-thumbs-up"></i>&nbsp;{{ 'submission.accept'|trans }}
                    </button>
                </div>

                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>{{ 'created_at'|trans }}</th>
                        <td>
                            {{ submission.createdAt|date('Y-m-d H:i') }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'status'|trans }}</th>
                        <td>
                            {% if submission.status == 'rejected' %}
                                <span class="badge badge-danger">{{ submission.status }}</span>
                            {% elseif submission.status == 'accepted' %}
                                <span class="badge badge-success">{{ submission.status }}</span>
                            {% elseif submission.status == 'submitted' %}
                                <span class="badge badge-light">{{ submission.status }}</span>
                            {% elseif submission.status == 'withdrawn' %}
                                <span class="badge badge-secondary">{{ submission.status }}</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'submission.status_date'|trans }}</th>
                        <td>
                            {{ submission.statusUpdatedAt ? submission.statusUpdatedAt|date('Y-m-d H:i') : '-' }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'submission.subscriber'|trans }}</th>
                        <td>
                            <a href="{{ path('subscribers_edit', {
                                'id': submission.user.id
                            }) }}">{{ submission.user.name|escape }} ({{ submission.user.email|escape }})</a>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'movie'|trans }}</th>
                        <td>
                            <a href="{{ path('movies_edit', {
                                'id': submission.movie.id
                            }) }}">{{ submission.movie.name }}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'category'|trans }}</th>
                        <td>
                            {{ ('categories.' ~ submission.category.name)|trans }}
                        </td>
                    </tr>
                    <tr>
                        <th>{{ 'submission.video_name'|trans }}</th>
                        <td>
                            {{ submission_dir }}/{{ submission.videoName|escape }}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}