{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.submissions'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

    <script>
        $(function () {
            var state = {
                page: {{ page }},
                filter: JSON.parse('{{ filter_json|raw }}'),
            };

            var filterForm = $('#filter-form');
            var filterFormClear = filterForm.find('[name="clear"]');
            var filterUser = filterForm.find('[name="user"]');
            var filterCategory = filterForm.find('[name="category"]');
            var filterMovie = filterForm.find('[name="movie"]');
            var filterStatus = filterForm.find('[name="status"]');
            var filterDateType = filterForm.find('[name="dateType"]');
            var filterDateValue = filterForm.find('[name="dateValue"]');
            var pagination = $('#pagination');

            if (!state.filter.dateType) {
                state.filter.dateType = 'eq'
            }

            if (state.filter.user) {
                filterUser.val(state.filter.user)
            }

            if (state.filter.movie) {
                filterMovie.val(state.filter.movie)
            }

            if (state.filter.category) {
                filterCategory.val(state.filter.category)
            }

            if (state.filter.status) {
                filterStatus.val(state.filter.status)
            }

            if (state.filter.dateType) {
                filterDateType.val(state.filter.dateType)
            }

            var startSearch = function () {
                var query = [
                    'page=' + state.page
                ];

                for (var key in state.filter) {
                    if (!state.filter.hasOwnProperty(key)) continue;

                    query.push('filter[' + key + ']=' + state.filter[key])
                }

                window.location = '{{ path('submissions') }}?' + query.join('&')
            };

            filterFormClear.on('click', function () {

                state = {
                    page: 1
                };

                startSearch();
            });

            filterUser.on('change', function (e) {

                var value = e.target.value;
                if (value && value !== '...') {
                    state.filter.user = value
                } else {
                    delete state.filter.user
                }
            });

            filterCategory.on('change', function (e) {

                var value = e.target.value;
                if (value && value !== '...') {
                    state.filter.category = value
                } else {
                    delete state.filter.category
                }
            });

            filterMovie.on('change', function (e) {

                var value = e.target.value;
                if (value && value !== '...') {
                    state.filter.movie = value
                } else {
                    delete state.filter.movie
                }
            });

            filterStatus.on('change', function (e) {

                var value = e.target.value;
                if (value && value !== '...') {
                    state.filter.status = value
                } else {
                    delete state.filter.status
                }
            });

            filterDateType.on('change', function (e) {

                var value = e.target.value;
                if (value && value !== '...') {
                    state.filter.dateType = value
                } else {
                    delete state.filter.dateType
                }
            });

            filterDateValue.on('change', function (e) {

                var value = e.target.value;
                if (value) {
                    state.filter.dateValue = value
                } else {
                    delete state.filter.dateValue
                }
            });

            filterForm.on('submit', function (e) {
                e.preventDefault();

                startSearch()
            });

            pagination.find('.page-link').on('click', function (e) {
                e.preventDefault();

                var page = parseInt($(this).attr('data-id'));
                if (page > 0) {

                    state.page = page;

                    startSearch();
                }
            });


            var exportSubmissions = $('#export-submission');
            var exportSubmissionsIcon = exportSubmissions.find('.fa');

            exportSubmissions.on('click', function () {

                $.ajax({
                    method: 'POST',
                    url: '{{ path('api_v1_submissions_export_post') }}',
                    contentType: 'application/json',
                    data: JSON.stringify(state),
                    beforeSend: function () {
                        exportSubmissions.prop('disabled', true);
                        exportSubmissionsIcon.removeClass('fa-download');
                        exportSubmissionsIcon.addClass('fa-spin fa-circle-notch');
                    },
                    success: function (content) {
                        window.location = content.url
                    },
                    error: function (xhr) {
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            alert(xhr.responseJSON.message)
                        }
                    },
                    complete: function () {
                        exportSubmissions.prop('disabled', false);
                        exportSubmissionsIcon.addClass('fa-download');
                        exportSubmissionsIcon.removeClass('fa-spin fa-circle-notch');
                    }
                })
            });

            var importSubmissions = $('#import-submission');
            var importSubmissionsIcon = importSubmissions.closest('label').find('.fa');

            var importSubmissionModal = $('#importSubmissionModalFailure');
            var importSubmissionModalAction = importSubmissionModal.find('.modal-body').find('.btn');
            var importSubmissionModalList = importSubmissionModal.find('.modal-body').find('ul');

            importSubmissions.on('change', function (e) {

                var file = e.target.files[0];
                if (!file) return;

                var data = new FormData();
                data.append('import', file);

                $.ajax({
                    method: 'POST',
                    url: '{{ path('api_v1_submissions_import_post') }}',
                    contentType: false,
                    processData: false,
                    data: data,
                    beforeSend: function () {
                        importSubmissions.val(null);
                        importSubmissions.prop('disabled', true);
                        importSubmissionsIcon.removeClass('fa-upload');
                        importSubmissionsIcon.addClass('fa-spin fa-circle-notch');

                        importSubmissionModalAction.addClass('d-none')
                        importSubmissionModalList.addClass('d-none')
                        importSubmissionModalList.empty();
                    },
                    success: function () {
                        window.location.reload()
                    },
                    error: function (xhr) {
                        if (!xhr.responseJSON) return;

                        if (xhr.responseJSON.message) {
                            alert(xhr.responseJSON.message)
                        }

                        if (xhr.responseJSON.output || xhr.responseJSON.errors) {
                            importSubmissionModal.modal('show');
                        }

                        if (xhr.responseJSON.output) {
                            importSubmissionModalAction.removeClass('d-none')
                            importSubmissionModalAction.attr('href', xhr.responseJSON.output)
                        }

                        if (xhr.responseJSON.errors) {
                            importSubmissionModalList.removeClass('d-none')

                            var list = $.map(xhr.responseJSON.errors, function (errors) {
                                return 'Line ' + errors.row + ": " + errors.error;
                            }).join('</li><li>');

                            importSubmissionModalList.html('<li>' + list + "</li>")
                        }
                    },
                    complete: function () {
                        importSubmissions.prop('disabled', false);
                        importSubmissionsIcon.addClass('fa-upload');
                        importSubmissionsIcon.removeClass('fa-spin fa-circle-notch');
                    }
                })
            });

            var purgeSubmissions = $('#purge-submission');
            var purgeSubmissionsIcon = importSubmissions.find('.fa');

            purgeSubmissions.on('click', function () {

                if (!confirm('{{ 'submission.purge_confirm'|trans({
                    '__DAYS__': submission_obsolete_days
                }) }}')) return;

                $.ajax({
                    method: 'DELETE',
                    url: '{{ path('api_v1_submissions_obsolete_delete') }}',
                    beforeSend: function () {
                        purgeSubmissions.prop('disabled', true);
                        purgeSubmissionsIcon.removeClass('fa-download');
                        purgeSubmissionsIcon.addClass('fa-spin fa-circle-notch');
                    },
                    success: function () {
                        window.location.reload()
                    },
                    error: function (xhr) {
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            alert(xhr.responseJSON.message)
                        }
                    },
                    complete: function () {
                        purgeSubmissions.prop('disabled', false);
                        purgeSubmissionsIcon.addClass('fa-download');
                        purgeSubmissionsIcon.removeClass('fa-spin fa-circle-notch');
                    }
                })
            });

            filterDateValue.datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });

        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12 col-md-4">

                <h2>{{ 'navigation.submissions'|trans }}
                    <small>({{ total }})</small>
                </h2>
            </div>
            <div class="col-12 col-md-8">


                <div class="form-group">
                    <div class="form-row justify-content-end">
                        <div class="col-auto">
                            <button id="purge-submission" class="btn btn-sm btn-outline-danger">
                                <i class="fa fa-trash"></i>&nbsp;{{ 'submission.purge'|trans }}
                            </button>
                        </div>
                        <div class="col-auto">
                            <button id="export-submission" class="btn btn-sm btn-outline-success">
                                <i class="fa fa-download"></i>&nbsp;{{ 'submission.export'|trans }}
                            </button>
                        </div>
                        <div class="col-auto text-center">
                            <label class="btn btn-sm btn-outline-success m-0 d-block">
                                <i class="fa fa-upload"></i>&nbsp;{{ 'submission.import'|trans }}
                                <input id="import-submission" type="file" hidden name="import">
                            </label>

                            <a href="{{ 'submission.example_url'|trans }}" download="">
                                <small>
                                    <i class="fa fa-download"></i>&nbsp;{{ 'submission.example'|trans }}
                                </small>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form id="filter-form">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'submission.subscriber'|trans }}</label>
                            </div>
                            <select class="form-control"
                                    name="user">
                                <option selected>...</option>
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.name|escape }}
                                        ({{ user.email|escape }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'category'|trans }}</label>
                            </div>
                            <select class="form-control"
                                    name="category">
                                <option selected>...</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ ('categories.' ~ category.name)|trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'movie'|trans }}</label>
                            </div>
                            <select class="form-control"
                                    name="movie">
                                <option selected>...</option>
                                {% for movie in movies %}
                                    <option value="{{ movie.id }}">{{ movie.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'status'|trans }}</label>
                            </div>
                            <select class="form-control" name="status">
                                <option selected>...</option>
                                <option value="submitted">submitted</option>
                                <option value="accepted">accepted</option>
                                <option value="rejected">rejected</option>
                                <option value="withdrawn">withdrawn</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <select name="dateType" class="form-control">
                                    <option value="more">></option>
                                    <option value="more-eq">>=</option>
                                    <option value="less"><</option>
                                    <option value="less-eq"><=</option>
                                    <option value="eq">=</option>
                                </select>
                            </div>

                            <input type="text" name="dateValue"
                                   value="{{ filter.dateValue is defined ? filter.dateValue : '' }}"
                                   placeholder="{{ 'date'|trans }}"
                                   class="form-control">
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <a href="{{ path('submissions') }}" class="btn btn-light btn-sm">
                            <i class="fa fa-times"></i>&nbsp;{{ 'movies.filter.clear'|trans }}
                        </a>
                        <button type="submit" class="btn btn-primary btn-sm">
                            <i class="fa fa-search"></i>&nbsp;{{ 'movies.filter.search'|trans }}
                        </button>

                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-12">
                {% if total == 0 %}
                    <div class="banner">
                        <img src="/img/clapperboard.png">
                        <h3>{{ 'submission.title'|trans }}</h3>
                        <h4>{{ 'submission.footer'|trans }}</h4>
                    </div>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{ 'submission.subscriber'|trans }}</th>
                                <th>{{ 'category'|trans }}</th>
                                <th>{{ 'movie'|trans }}</th>
                                <th>{{ 'status'|trans }}</th>
                                <th>{{ 'submission.status_date'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for submission in submissions %}
                                <tr>
                                    <td>
                                        <a href="{{ path('submissions_edit', {
                                            'id': submission.id
                                        }) }}">#{{ submission.id }}
                                        </a>
                                    </td>
                                    <td>{{ submission.user.name }}</td>
                                    <td>{{ ('categories.' ~ submission.category.name)|trans }}</td>
                                    <td>
                                        <a href="{{ path('movies_edit', {
                                            'id': submission.movie.id
                                        }) }}">{{ submission.movie.name }}</a>
                                    </td>
                                    <td>
                                        {% if submission.status == 'rejected' %}
                                            <span class="badge badge-danger">{{ submission.status }}</span>
                                        {% elseif submission.status == 'accepted' %}
                                            <span class="badge badge-success">{{ submission.status }}</span>
                                        {% elseif submission.status == 'submitted' %}
                                            <span class="badge badge-light">{{ submission.status }}</span>
                                        {% elseif submission.status == 'withdrawn' %}
                                            <span class="badge badge-secondary">{{ submission.status }}</span>
                                        {% endif %}
                                    </td>
                                    <td>{{ submission.statusUpdatedAt ? submission.statusUpdatedAt|date('Y-m-d H:i') : '-' }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endif %}
            </div>
        </div>

        {% if pages > 1 %}
            <div class="row">
                <div class="col-12">
                    <ul id="pagination" class="pagination justify-content-lg-center">
                        {% for range in get_pagination_range(page, total, limit, pages) %}
                            <li class="page-item {{ range == page ? 'active' : '' }}">
                                <a class="page-link" data-id="{{ range }}"
                                   href="#">{{ range }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="modal fade" id="importSubmissionModalFailure">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'submission.import_status'|trans }}</h5>
                    </div>
                    <div class="modal-body">
                        <p> {{ 'submission.import_status_failure'|trans }}</p>

                        <ul></ul>

                        <p class="text-center">
                            <a href="javascript:" class="btn btn-warning" download="">
                                <i class="fa fa-download"></i>&nbsp;{{ 'submission.import_status_failure_action'|trans }}
                            </a>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:" class="btn btn-outline-secondary"
                           data-dismiss="modal">{{ 'close'|trans }}</a>
                    </div>
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}
