{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.submissions'|trans }}{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var state = {
                page: {{ page }},
            };

            var pagination = $('#pagination');
            var withdraw = $('.withdraw');

            console.log(state);

            var startSearch = function () {
                var query = [
                    'page=' + state.page
                ];

                window.location = '{{ path('submissions') }}?' + query.join('&')
            };

            pagination.find('.page-link').on('click', function (e) {
                e.preventDefault();

                var page = parseInt($(this).attr('data-id'));
                if (page > 0) {

                    state.page = page;

                    startSearch();
                }
            });

            withdraw.on('click', function () {

                var $this = $(this);
                var id = parseInt($this.attr('data-id'));
                if (id <= 0) return;

                if (!confirm('{{ 'submission.withdraw_confirm'|trans }}')) return;

                var icon = $this.find('.fa')

                $.ajax({
                    method: 'PUT',
                    url: '{{ path('api_v1_submissions_put', {
                        'id': 999
                    }) }}'.replace('999', id),
                    contentType: 'application/json',
                    data: JSON.stringify({
                        isWithdrawn: true
                    }),
                    beforeSend: function () {
                        icon.removeClass('fa-times-circle');
                        icon.addClass('fa-spin fa-circle-notch')
                    },
                    success: function () {
                        window.location.reload()
                    },
                    complete: function () {
                        icon.addClass('fa-times-circle');
                        icon.removeClass('fa-spin fa-circle-notch')
                    },
                })
            })
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">

                <h2>{{ 'navigation.submissions'|trans }}</h2>

                {% if total == 0 %}
                    <div class="row">
                        <div class="col-12">
                            <div class="banner">
                                <img src="/img/clapperboard.png">
                                <h3>{{ 'submission.title'|trans }}</h3>
                                <h4>{{ 'submission.footer_user'|trans }}</h4>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th class="align-middle">{{ 'status'|trans }}</th>
                                <th class="align-middle">{{ 'movie'|trans }}</th>
                                <th class="align-middle">{{ 'category'|trans }}</th>
                                <th class="align-middle">{{ 'submission.status_date'|trans }}</th>
                                <th class="align-middle">{{ 'actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for submission in submissions %}
                                <tr>
                                    <td class="align-middle">
                                        {% if submission.status == 'rejected' %}
                                            <span class="badge badge-danger">{{ submission.status }}</span>
                                        {% elseif submission.status == 'accepted' %}
                                            <span class="badge badge-success">{{ submission.status }}</span>
                                        {% elseif submission.status == 'submitted' %}
                                            <span class="badge badge-light">{{ submission.status }}</span>
                                        {% elseif submission.status == 'withdrawn' %}
                                            <span class="badge badge-secondary">{{ submission.status }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ submission.movie.name }}</td>
                                    <td class="align-middle">{{ ('categories.' ~ submission.category.name)|trans }}</td>
                                    <td class="align-middle text-nowrap">{{ submission.statusUpdatedAt ? submission.statusUpdatedAt|date('Y-m-d H:i') : '-' }}</td>
                                    <td class="align-middle">
                                        {% if submission.status == 'submitted' %}
                                            <a href="#" class="btn btn-sm btn-outline-danger withdraw"
                                               data-id="{{ submission.id }}">
                                                <i class="fa fa-times-circle"></i>&nbsp;{{ 'submission.withdraw'|trans }}
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endif %}

                {% if pages > 1 %}
                    <div class="row">
                        <div class="col-12">
                            <ul id="pagination" class="pagination justify-content-lg-center">
                                {% for range in get_pagination_range(page, total, limit, pages) %}
                                    <li class="page-item {{ range == page ? 'active' : '' }}">
                                        <a class="page-link" data-id="{{ range }}"
                                           href="#">{{ range }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}