{% extends 'base.html.twig' %}

{% block title %}{{ 'submission.add'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/movie-cards.css">
{% endblock %}

{% block javascripts %}

    <script>

        $(function () {

            var MIME_TYPES = '{{ upload_submission_mime_types }}'.split(',');
            var FILE_SIZE_BYTES = parseInt('{{ upload_submission_max_filesize_mb * 1000 * 1000 }}');

            var state = {
                isValid: false,
                selectedFile: null,
                xhr: null,
                model: {
                    movie: {{ movie.id }},
                }
            };

            var validationMessages = {
                genericError: '{{ 'validation.generic_form_error'|trans }}',
                invalid: '{{ 'validation.field_is_invalid'|trans }}',
                isRequired: '{{ 'validation.field_is_required'|trans }}',
                file_size: '{{ 'validation.file_size'|trans }}',
                mime_types: '{{ 'validation.mime_types'|trans ~ ': ' ~ upload_submission_mime_types }}',
            };

            var form = $('#submission');
            var videoName = form.find('[name="videoName"]');
            var videoError = videoName.closest('.form-group').find('.feedback');
            var videoNameLabel = form.find('.custom-file-label');
            var submit = form.find('[type="submit"]');

            var validate = function () {
                var count = 0;

                if (!state.model.movie) {
                    ++count
                }

                if (!state.selectedFile) {
                    ++count
                } else {

                    videoError.removeClass('d-block');
                    videoError.removeClass('d-none');

                    var mime = state.selectedFile.type || '';

                    if (mime && MIME_TYPES.indexOf(mime) === -1) {
                        ++count;

                        videoName.val(null);
                        videoNameLabel.text('');

                        videoError.addClass('d-block');
                        videoError.text(validationMessages.mime_types + ' (tried ' + mime + ')');

                        state.selectedFile = null
                    } else if (state.selectedFile.size > FILE_SIZE_BYTES) {
                        ++count;

                        videoName.val(null);
                        videoNameLabel.text('');

                        videoError.addClass('d-block');
                        videoError.text(validationMessages.file_size);

                        state.selectedFile = null
                    }
                }

                state.isValid = count === 0;

                submit.prop('disabled', !state.isValid);
            };

            var save = function () {

                if (!state.isValid) return;

                var form = $('#submission');
                var formError = $('#submission-form-error');
                var formSuccess = $('#submission-form-success');

                var progress = $('#request-progress');
                var progressBar = progress.find('.progress-bar');

                var cancelRequest = $('#cancel-request');

                var submit = form.find('[type="submit"]');
                var submitIcon = submit.find('.fa');
                var submitText = submit.find('.submit-text');

                var data = new FormData();
                data.append('content', JSON.stringify(state.model));
                data.append('video', state.selectedFile);

                if (state.xhr) {
                    state.xhr.abort()
                }

                cancelRequest.on('click', function () {
                    if (state.xhr) {
                        state.xhr.abort();
                        state.xhr = null;
                    }
                });

                state.xhr = $.ajax({
                    method: 'POST',
                    url: '{{ path('api_v1_submissions_post') }}',
                    processData: false,
                    contentType: false,
                    data: data,
                    beforeSend: function () {
                        submit.prop('disabled', true);

                        formSuccess.addClass('d-none');
                        formError.addClass('d-none');

                        cancelRequest.removeClass('d-none');

                        submitIcon.removeClass('fa-check');
                        submitIcon.addClass('fa-spin fa-circle-notch');

                        progressBar.css('width', '0%');
                        submitText.text('{{ 'submission.create'|trans }}');
                    },
                    success: function () {
                        formSuccess.removeClass('d-none');
                    },
                    error: function (xhr) {
                        formError.removeClass('d-none');

                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            formError.text(xhr.responseJSON.message);
                        } else {
                            formError.text(validationMessages.genericError);
                        }
                    },
                    complete: function () {
                        submitIcon.addClass('fa-check');
                        cancelRequest.addClass('d-none');
                        progress.addClass('d-none');
                        submitIcon.removeClass('fa-spin fa-circle-notch');
                        submitText.text('{{ 'submission.create'|trans }}');
                    },
                    xhr: function () {
                        var xhr = $.ajaxSettings.xhr();

                        xhr.upload.onprogress = function (e) {

                            if (e.lengthComputable) {
                                var percentComplete = Math.ceil(e.loaded / e.total * 100);

                                progress.removeClass('d-none');

                                progressBar.css('width', percentComplete + '%');
                                submitText.text('{{ 'submission.upload_progress'|trans }}: ' + percentComplete + '%');
                            } else {
                                progress.addClass('d-none')
                            }
                        };

                        return xhr;
                    }
                });
            };

            videoName.on('change', function (e) {

                var file = e.target.files[0];
                var name = '';
                if (file) {
                    name = file.name;

                    state.selectedFile = file
                } else {
                    state.selectedFile = null
                }

                videoNameLabel.text(name);

                validate()
            });

            form.on('submit', function (e) {
                e.preventDefault();

                save();
            })
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12 col-md-6 mb-4">

                <h2 class="text-center text-md-left">{{ 'submission.add'|trans }}</h2>

                <div id="submission-form-error" class="alert alert-danger d-none"></div>

                <div id="submission-form-success" class="alert alert-success d-none">
                    {{ 'submission.success'|trans }}
                </div>

                <form id="submission">

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'movie'|trans }}</label>
                            </div>
                            <input class="form-control"
                                   required
                                   readonly
                                   value="{{ movie.name }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'category'|trans }}</label>
                            </div>
                            <input class="form-control"
                                   required
                                   readonly
                                   value="{{ ('categories.' ~ movie.category.name)|trans }}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'submission.video_name'|trans }}</label>
                            </div>
                            <input type="file" name="videoName"
                                   class="form-control"
                                   id="inputGroupFile01"
                                   accept="{{ upload_submission_mime_types }}"
                                   min="1"
                                   max="1">
                        </div>
                        <small class="feedback invalid-feedback"></small>
                    </div>

                    <div id="request-progress" class="progress mb-3 d-none" style="height: 10px;">
                        <div class="progress-bar px-1" role="progressbar" style="width: 0"></div>
                    </div>

                    <div class="text-center text-md-left">

                        <button type="submit" class="btn btn-sm btn-success mb-2" disabled>
                            <i class="fa fa-check"></i>&nbsp;<span
                                    class="submit-text">{{ 'submission.create'|trans }}</span>
                        </button>

                        <button id="cancel-request" type="button" class="btn btn-sm btn-outline-secondary mb-2 d-none">
                            <i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}
                        </button>

                        <a href="{{ path('tutorial') }}" class="btn btn-sm btn-outline-success mb-2 pull-right"
                           target="_blank">
                            <i class="fa fa-video"></i>&nbsp;{{ 'index.banner.tutorial'|trans }}
                        </a>

                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <h3 class="text-center text-md-left">{{ 'tutorial.title'|trans }}</h3>
                <p>{{ 'tutorial.content'|trans|raw }}</p>

                <h3 class="text-center text-md-left">{{ 'tutorial.file_spec.title'|trans }}</h3>
                <p>{{ 'tutorial.file_spec.content'|trans|raw }}</p>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}