{% extends 'base.html.twig' %}

{% set isAdmin = app.user.isAdmin %}

{% block title %}{{ user.name|escape }}{% endblock %}

{% block javascripts %}
    <script src="/js/pwstrength-bootstrap.min.js"></script>
    <script>

        $(function () {

            var IS_ADMIN = {{ isAdmin ? 'true' : 'false' }}

            var form = $('#reset-password');
            var formError = $('#reset-password-error');

            var currentPassword = form.find('[name="currentPassword"]');
            var currentPasswordError = currentPassword.closest('.form-group').find('.feedback');

            var password = form.find('[name="password"]');
            var passwordError = password.closest('.form-group').find('.feedback');

            var password2 = form.find('[name="password2"]');
            var password2Error = password2.closest('.form-group').find('.feedback');

            var submit = form.find('[type="submit"]');
            var submitIcon = submit.find('.fa');

            var validationMessages = {
                genericError: '{{ 'validation.generic_form_error'|trans }}',
                invalid: '{{ 'validation.field_is_invalid'|trans }}',
                isRequired: '{{ 'validation.field_is_required'|trans }}',
                passwordMismatch: '{{ 'validation.password_mismatch'|trans }}',
                passwordWeak: '{{ 'validation.password_weak'|trans }}',
                termsShouldBeAccepted: '{{ 'validation.accepted_terms'|trans }}',
            };

            var stateChanges = {
                password: false,
                password2: false,
                currentPassword: false,
            };

            var state = {
                isPasswordStrong: false,
                currentPassword: null,
                password: null,
                password2: null,
            };

            var validate = function () {
                var count = 0;

                if (!IS_ADMIN && !state.currentPassword) {
                    ++count;

                    if (stateChanges.currentPassword) {
                        currentPasswordError.addClass('invalid-feedback d-block');
                        currentPasswordError.text(validationMessages.isRequired);
                        currentPasswordError.removeClass('d-none')
                    } else {
                        currentPasswordError.removeClass('d-block');
                        currentPasswordError.addClass('d-none')
                    }
                } else {
                    currentPasswordError.removeClass('d-block');
                    currentPasswordError.addClass('d-none')
                }

                if (!state.password) {
                    ++count;

                    if (stateChanges.password) {
                        passwordError.addClass('invalid-feedback d-block');
                        passwordError.text(validationMessages.isRequired);
                        passwordError.removeClass('d-none')
                    } else {
                        passwordError.removeClass('d-block');
                        passwordError.addClass('d-none')
                    }
                } else {
                    if (/\s+/.test(state.password)) {
                        ++count;

                        if (stateChanges.password) {
                            passwordError.addClass('invalid-feedback d-block');
                            passwordError.text(validationMessages.invalid);
                            passwordError.removeClass('d-none')
                        } else {
                            passwordError.removeClass('d-block');
                            passwordError.addClass('d-none')
                        }
                    } else if (!state.isPasswordStrong) {
                        ++count;

                        if (stateChanges.password) {
                            passwordError.addClass('invalid-feedback d-block');
                            passwordError.text(validationMessages.passwordWeak);
                            passwordError.removeClass('d-none')
                        } else {
                            passwordError.removeClass('d-block');
                            passwordError.addClass('d-none')
                        }
                    } else if (stateChanges.password) {
                        passwordError.removeClass('d-block');
                        passwordError.addClass('d-none')
                    }
                }

                if (!state.password2) {
                    ++count;

                    if (stateChanges.password2) {
                        password2Error.addClass('invalid-feedback d-block');
                        password2Error.text(validationMessages.isRequired);
                        password2Error.removeClass('d-none')
                    } else {
                        password2Error.removeClass('d-block');
                        password2Error.addClass('d-none')
                    }
                } else if (stateChanges.password2) {
                    password2Error.removeClass('d-block');
                    password2Error.addClass('d-none')
                }

                if (state.password && state.password2 && state.password !== state.password2) {
                    ++count;

                    if (stateChanges.password2) {
                        password2Error.addClass('invalid-feedback d-block');
                        password2Error.text(validationMessages.passwordMismatch);
                        password2Error.removeClass('d-none')
                    } else {
                        password2Error.removeClass('d-block');
                        password2Error.addClass('d-none')
                    }
                } else if (stateChanges.password2) {
                    password2Error.removeClass('d-block');
                    password2Error.addClass('d-none')
                }

                var isValid = count === 0;

                submit.prop('disabled', !isValid);

                return isValid
            };

            var save = function () {

                if (!validate()) return;

                $.ajax({
                    method: 'PUT',
                    url: '{{ path('api_v1_subscribers_put', {
                        'id': user.id
                    }) }}',
                    contentType: 'application/json',
                    data: JSON.stringify(state),
                    beforeSend: function () {
                        submit.prop('disabled', true);
                        submitIcon.removeClass('fa-check');
                        submitIcon.addClass('fa-spin fa-circle-notch');

                        formError.addClass('d-none')
                    },
                    success: function () {
                       window.location.reload()
                    },
                    error: function (xhr) {
                        formError.removeClass('d-none')
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            formError.text(xhr.responseJSON.message);
                        } else {
                            formError.text(validationMessages.genericError);
                        }
                    },
                    complete: function () {
                        submit.prop('disabled', false);
                        submitIcon.addClass('fa-check');
                        submitIcon.removeClass('fa-spin fa-circle-notch')
                    }
                });
            };

            currentPassword.on('focus input', function (e) {
                state.currentPassword = e.target.value;
                stateChanges.currentPassword = true;

                if (validate() && e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            });

            password.on('focus input', function (e) {
                state.password = e.target.value;
                stateChanges.password = true;

                if (validate() && e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            });

            password2.on('focus input', function (e) {
                state.password2 = e.target.value;
                stateChanges.password2 = true;

                if (validate() && e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            });

            form.on('submit', function (e) {
                e.preventDefault();

                save();
            });


            password.pwstrength({
                common: {
                    minChar: 8,
                    onKeyUp: function (evt, data) {
                        state.isPasswordStrong = data.score >= 26
                    }
                },
                ui: {
                    scores: [0, 14, 26, 38, 50],
                    bootstrap4: true,
                    container: "#pwd-container",
                    viewports: {
                        progress: ".pwstrength_viewport_progress"
                    },
                    showVerdictsInsideProgressBar: true
                }
            });
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">

                <div class="row">
                    <div class="col-12 col-md-6">
                        <h2>{{ user.name|escape }}</h2>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group text-right">
                            <a href="#changePasswordModal" class="btn btn-sm btn-outline-warning" data-toggle="modal">
                                <i class="fa fa-key"></i>&nbsp;{{ 'navigation.reset_password'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-muted">{{ 'created_at'|trans }}:&nbsp;{{ user.createdAt|date('Y-m-d H:i') }}</p>
                        <p>{{ 'users.is_active'|trans }}:&nbsp;
                        {% if user.isActive %}
                            <span class="badge badge-success">{{ 'yes'|trans }}</span>
                        {% else %}
                            <span class="badge badge-success">{{ 'no'|trans }}</span>
                        {% endif %}
                        </p>
                        <p>{{ 'users.email'|trans }}:&nbsp;{{ user.email|escape }}</p>
                        <p>{{ 'users.birthday'|trans }}:&nbsp;{{ user.birthday ? user.birthday|date('Y-m-d') : '-' }}</p>
                    </div>
                </div>
            </div>

            <div class="col-12">

                {% if submissions|length == 0 %}
                    <div class="row">
                        <div class="col-12">
                            <div class="banner">
                                <img src="/img/clapperboard.png">
                                <h3>{{ 'submission.title'|trans }}</h3>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h4>{{ 'submission.my_submissions'|trans }}</h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th class="align-middle">{{ 'status'|trans }}</th>
                                <th class="align-middle">{{ 'movie'|trans }}</th>
                                <th class="align-middle">{{ 'category'|trans }}</th>
                                <th class="align-middle">{{ 'submission.status_date'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for submission in submissions %}
                                <tr>
                                    <td class="align-middle">
                                        {% if submission.status == 'rejected' %}
                                            <span class="badge badge-danger">{{ submission.status }}</span>
                                        {% elseif submission.status == 'accepted' %}
                                            <span class="badge badge-success">{{ submission.status }}</span>
                                        {% elseif submission.status == 'submitted' %}
                                            <span class="badge badge-light">{{ submission.status }}</span>
                                        {% elseif submission.status == 'withdrawn' %}
                                            <span class="badge badge-secondary">{{ submission.status }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ submission.movie.name }}</td>
                                    <td class="align-middle">{{ ('categories.' ~ submission.category.name)|trans }}</td>
                                    <td class="align-middle text-nowrap">{{ submission.statusUpdatedAt ? submission.statusUpdatedAt|date('Y-m-d H:i') : '-' }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="modal fade" id="changePasswordModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="reset-password">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'users.change_pasword_title'|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div id="reset-password-error" class="alert alert-danger d-none">
                                {{ 'validation.password_mismatch'|trans }}
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.current_password'|trans }}</label>
                                    </div>
                                    <input type="password"
                                            {{ isAdmin ? 'disabled' : '' }}
                                           name="currentPassword"
                                           class="form-control">
                                </div>
                                <small class="feedback"></small>
                            </div>

                            <div class="form-group" id="pwd-container">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.password'|trans }}</label>
                                    </div>
                                    <input type="password"
                                           name="password"
                                           class="form-control"
                                           required>
                                </div>
                                <div class="pwstrength_viewport_progress"></div>
                                <small class="feedback"></small>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.password_repeat'|trans }}</label>
                                    </div>
                                    <input type="password"
                                           name="password2"
                                           class="form-control"
                                           required>
                                </div>
                                <small class="feedback"></small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">
                                <i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}
                            </button>

                            <button type="submit" class="btn btn-success" disabled>
                                <i class="fa fa-check"></i>&nbsp;{{ 'login.confirm'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}
