{% extends 'base.html.twig' %}

{% block title %}{{ 'users.add'|trans }}{% endblock %}

{% block javascripts %}
    <script src="/js/pwstrength-bootstrap.min.js"></script>
    <script>
        $(function () {

            var form = $('#subscriber');
            var formError = $('#subscriber-error');

            var name = form.find('[name="name"]');
            var nameError = name.closest('.form-group').find('.feedback');

            var email = form.find('[name="email"]');
            var emailError = email.closest('.form-group').find('.feedback');

            var password = form.find('[name="password"]');
            var passwordError = password.closest('.form-group').find('.feedback');
            var passwordCapitalWarning = password.closest('.form-group').find('.capital-warning');

            var password2 = form.find('[name="password2"]');
            var password2Error = password2.closest('.form-group').find('.feedback');

            var submit = form.find('[type="submit"]');
            var submitIcon = submit.find('.fa');

            var validationMessages = {
                genericError: '{{ 'validation.generic_form_error'|trans }}',
                invalid: '{{ 'validation.field_is_invalid'|trans }}',
                isRequired: '{{ 'validation.field_is_required'|trans }}',
                passwordMismatch: '{{ 'validation.password_mismatch'|trans }}',
                passwordWeak: '{{ 'validation.password_weak'|trans }}',
                emailReserved: '{{ 'validation.email_reserved'|trans }}',
            };

            var stateChanges = {
                name: false,
                email: false,
                password: false,
                password2: false,
            };

            var state = {
                name: null,
                email: null,
                password: null,
                password2: null,
                isPasswordStrong: false,
            };

            var validate = function () {
                var count = 0;

                if (!state.name) {
                    ++count;

                    if (stateChanges.name) {
                        nameError.addClass('invalid-feedback d-block');
                        nameError.removeClass('d-none');
                        nameError.text(validationMessages.isRequired)
                    } else {
                        nameError.removeClass('d-block');
                        nameError.addClass('d-none')
                    }
                } else if (stateChanges.name) {
                    nameError.removeClass('d-block');
                    nameError.addClass('d-none')
                }

                if (!state.email || !EmailValidator(state.email)) {
                    ++count;

                    if (stateChanges.email) {
                        emailError.addClass('invalid-feedback d-block');
                        emailError.text(validationMessages.isRequired);
                        emailError.removeClass('d-none')
                    } else {
                        emailError.removeClass('d-block');
                        emailError.addClass('d-none')
                    }
                } else if (stateChanges.email) {
                    emailError.removeClass('d-block');
                    emailError.addClass('d-none')
                }

                if (!state.password) {
                    ++count;

                    if (stateChanges.password) {
                        passwordError.addClass('invalid-feedback d-block');
                        passwordError.text(validationMessages.isRequired);
                        passwordError.removeClass('d-none')
                    } else {
                        passwordError.removeClass('d-block');
                        passwordError.addClass('d-none')
                    }
                } else {
                    if (/\s+/.test(state.password)) {
                        ++count;

                        if (stateChanges.password) {
                            passwordError.addClass('invalid-feedback d-block');
                            passwordError.text(validationMessages.invalid);
                            passwordError.removeClass('d-none')
                        } else {
                            passwordError.removeClass('d-block');
                            passwordError.addClass('d-none')
                        }
                    } else if (!state.isPasswordStrong) {
                        ++count;

                        if (stateChanges.password) {
                            passwordError.addClass('invalid-feedback d-block');
                            passwordError.text(validationMessages.passwordWeak);
                            passwordError.removeClass('d-none')
                        } else {
                            passwordError.removeClass('d-block');
                            passwordError.addClass('d-none')
                        }
                    } else if (stateChanges.password) {
                        passwordError.removeClass('d-block');
                        passwordError.addClass('d-none')
                    }

                    if (state.model.password !== state.model.password.toLowerCase()) {
                        passwordCapitalWarning.removeClass('d-none');
                        passwordCapitalWarning.addClass('d-block')
                    } else {
                        passwordCapitalWarning.addClass('d-none');
                        passwordCapitalWarning.removeClass('d-block')
                    }
                }

                if (!state.password2) {
                    ++count;

                    if (stateChanges.password2) {
                        password2Error.addClass('invalid-feedback d-block');
                        password2Error.text(validationMessages.isRequired);
                        password2Error.removeClass('d-none')
                    } else {
                        password2Error.removeClass('d-block');
                        password2Error.addClass('d-none')
                    }
                } else if (stateChanges.password2) {
                    password2Error.removeClass('d-block');
                    password2Error.addClass('d-none')
                }

                if (state.password && state.password2 && state.password !== state.password2) {
                    ++count;

                    if (stateChanges.password2) {
                        password2Error.addClass('invalid-feedback d-block');
                        password2Error.text(validationMessages.passwordMismatch);
                        password2Error.removeClass('d-none')
                    } else {
                        password2Error.removeClass('d-block');
                        password2Error.addClass('d-none')
                    }
                } else if (stateChanges.password2) {
                    password2Error.removeClass('d-block');
                    password2Error.addClass('d-none')
                }

                var isValid = count === 0;

                submit.prop('disabled', !isValid);

                return isValid
            };

            var save = function () {

                if (!validate()) return;

                $.ajax({
                    method: 'POST',
                    url: '{{ path('api_v1_subscribers_post') }}',
                    contentType: 'application/json',
                    data: JSON.stringify(state),
                    beforeSend: function () {
                        submit.prop('disabled', true);
                        submitIcon.removeClass('fa-check');
                        submitIcon.addClass('fa-spin fa-circle-notch');

                        formError.addClass('d-none')
                    },
                    success: function () {
                        window.location = '{{ path('subscribers') }}'
                    },
                    error: function (xhr) {
                        formError.removeClass('d-none')
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            formError.text(xhr.responseJSON.message);
                        } else {
                            formError.text(validationMessages.genericError);
                        }
                    },
                    complete: function () {
                        submit.prop('disabled', true);
                        submitIcon.addClass('fa-check');
                        submitIcon.removeClass('fa-spin fa-circle-notch')
                    }
                });
            };

            var saveIfEnter = function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            };

            name.on('focus input', function (e) {
                state.name = e.target.value;
                stateChanges.name = true;

                validate()
            });

            name.on('keypress', saveIfEnter);
            email.on('keypress', saveIfEnter);
            password.on('keypress', saveIfEnter);
            password2.on('keypress', saveIfEnter);

            name.on('focus input', function (e) {
                state.name = e.target.value;
                stateChanges.name = true;

                validate()
            });

            email.on('focus input', function (e) {
                state.email = e.target.value.toLowerCase();
                stateChanges.email = true;

                validate()
            });

            password.on('focus input', function (e) {
                state.password = e.target.value;
                stateChanges.password = true;

                validate()
            });

            password2.on('focus input', function (e) {
                state.password2 = e.target.value;
                stateChanges.password2 = true;

                validate()
            });

            form.on('submit', function (e) {
                e.preventDefault();

                save();
            });

            password.pwstrength({
                common: {
                    minChar: 8,
                    onKeyUp: function (evt, data) {
                        state.isPasswordStrong = data.score >= 26
                    }
                },
                ui: {
                    scores: [0, 14, 26, 38, 50],
                    bootstrap4: true,
                    container: "#pwd-container",
                    viewports: {
                        progress: ".pwstrength_viewport_progress"
                    },
                    showVerdictsInsideProgressBar: true
                }
            });
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">

                <h2>{{ 'users.add'|trans }}</h2>

                <form id="subscriber">

                    <div id="subscriber-error" class="alert alert-danger d-none">
                        {{ 'validation.generic_form_error'|trans }}
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'name'|trans }}</label>
                            </div>
                            <input type="text" name="name"
                                   class="form-control"
                                   required>
                        </div>
                        <small class="feedback"></small>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'users.email'|trans }}</label>
                            </div>
                            <input type="text" name="email"
                                   class="form-control"
                                   required>
                        </div>
                        <small class="feedback"></small>
                    </div>

                    <div class="form-group" id="pwd-container">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'users.password'|trans }}</label>
                            </div>
                            <input type="password"
                                   name="password"
                                   class="form-control"
                                   required>
                        </div>

                        <div class="my-1 pwstrength_viewport_progress"></div>

                        <small class="feedback"></small>

                        <small class="warning-feedback capital-warning d-none">
                            <i class="fa fa-info-circle"></i>&nbsp;{{ 'validation.capital_letter_in_sensitive_field'|trans }}
                        </small>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'users.password_repeat'|trans }}</label>
                            </div>
                            <input type="password"
                                   name="password2"
                                   class="form-control"
                                   required>
                        </div>
                        <small class="feedback"></small>
                    </div>

                    <button type="submit" class="btn btn-success" disabled>
                        <i class="fa fa-check"></i>&nbsp;{{ 'movies.create'|trans }}
                    </button>
                </form>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}
