{% extends 'base.html.twig' %}

{% set isAdmin = app.user.isAdmin %}

{% block title %}{{ user.name|escape }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.standalone.min.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/pwstrength-bootstrap.min.js"></script>

    <script>
        $(function () {

            var validationMessages = {
                genericError: '{{ 'validation.generic_form_error'|trans }}',
                invalid: '{{ 'validation.field_is_invalid'|trans }}',
                isRequired: '{{ 'validation.field_is_required'|trans }}',
                passwordMismatch: '{{ 'validation.password_mismatch'|trans }}',
                passwordWeak: '{{ 'validation.password_weak'|trans }}',
                emailReserved: '{{ 'validation.email_reserved'|trans }}',
                termsShouldBeAccepted: '{{ 'validation.accepted_terms'|trans }}',
                you_are_a_robot: '{{ 'validation.you_are_a_robot'|trans }}',
            };

            var form = $('#subscriber');
            var submit = form.find('[type="submit"]');
            var submitIcon = submit.find('.fa');

            var isActive = form.find('[name="isActive"]');

            var name = form.find('[name="name"]');
            var nameError = name.closest('.form-group').find('.feedback');

            var email = form.find('[name="email"]');
            var emailError = email.closest('.form-group').find('.feedback');

            var birthday = form.find('[name="birthday"]');
            var birthdayError = birthday.closest('.form-group').find('.feedback');

            var state = {
                isValid: false,
                model: {
                    id: {{ user.id }},
                    name: '{{ user.name|escape }}',
                    email: '{{ user.email|escape }}',
                    birthday: '{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}',
                    isActive: {{ user.isActive ? 'true' : 'false' }},
                },
                changes: {
                    name: false,
                    email: false,
                    isActive: false,
                }
            };

            var validate = function () {
                var count = 0;

                emailError.removeClass('d-block');
                emailError.addClass('d-none')

                nameError.removeClass('d-block');
                nameError.addClass('d-none')

                birthdayError.removeClass('d-block');
                birthdayError.addClass('d-none')

                if (!state.model.name) {
                    ++count;

                    if (state.changes.name) {
                        nameError.addClass('invalid-feedback d-block');
                        nameError.removeClass('d-none');
                        nameError.text(validationMessages.isRequired)
                    }
                }

                if (!state.model.email) {
                    ++count;

                    if (state.changes.email) {
                        emailError.addClass('invalid-feedback d-block');
                        emailError.text(validationMessages.isRequired);
                        emailError.removeClass('d-none')
                    }
                } else if (!EmailValidator(state.model.email)) {
                    ++count;

                    if (state.changes.email) {
                        emailError.addClass('invalid-feedback d-block');
                        emailError.text(validationMessages.invalid);
                        emailError.removeClass('d-none')
                    }
                }

                if (!state.model.birthday) {
                    ++count;

                    if (state.changes.birthday) {
                        birthdayError.addClass('invalid-feedback d-block');
                        birthdayError.removeClass('d-none')
                        birthdayError.text(validationMessages.isRequired);
                    }
                } else if (state.changes.birthday) {
                    var now = moment();
                    var date = moment(state.model.birthday, 'YYYY-MM-DD');

                    if (now.diff(date, "years") < 18) {
                        birthdayError.addClass('invalid-feedback d-block');
                        birthdayError.removeClass('d-none');
                        birthdayError.text(validationMessages.invalid);
                    }

                }

                state.isValid = count === 0;

                submit.prop('disabled', !state.isValid);
            };

            var save = function () {

                $.ajax({
                    method: 'PUT',
                    url: '{{ path('api_v1_subscribers_put', {
                        'id': user.id
                    }) }}',
                    contentType: 'application/json',
                    data: JSON.stringify(state.model),
                    beforeSend: function () {
                        submit.prop('disabled', true);
                        submitIcon.removeClass('fa-check');
                        submitIcon.addClass('fa-spin fa-circle-notch')
                    },
                    success: function () {
                        window.location.reload()
                    },
                    complete: function () {
                        submit.prop('disabled', false);
                        submitIcon.addClass('fa-check');
                        submitIcon.removeClass('fa-spin fa-circle-notch')
                    }
                });
            };

            var saveIfEnter = function (e) {
                if (e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            };

            name.on('keypress', saveIfEnter);
            email.on('keypress', saveIfEnter);

            name.on('focus input', function (e) {
                state.model.name = e.target.value;
                state.changes.name = true;

                validate()
            });

            email.on('focus input', function (e) {
                state.model.email = e.target.value = e.target.value.toLowerCase();
                state.changes.email = true;

                validate()
            });

            isActive.on('change', function (e) {
                state.model.isActive = e.target.checked;
                state.changes.isActive = true;

                validate()
            });

            birthday.on('change', function (e) {

                state.changes.birthday = true;

                var value = e.target.value;
                if (value) {
                    state.model.birthday = value
                } else {
                    state.model.birthday = null
                }

                validate()
            });

            form.on('submit', function (e) {
                e.preventDefault();

                save();
            });

            birthday.datepicker({
                format: 'yyyy-mm-dd',
                startView: 'years',
                autoclose: true,
                endDate: new Date()
            });
        });

        $(function () {

            var IS_ADMIN = {{ isAdmin ? 'true' : 'false' }}

            var form = $('#reset-password');
            var formError = $('#reset-password-error');

            var currentPassword = form.find('[name="currentPassword"]');
            var currentPasswordError = currentPassword.closest('.form-group').find('.feedback');

            var password = form.find('[name="password"]');
            var passwordError = password.closest('.form-group').find('.feedback');

            var password2 = form.find('[name="password2"]');
            var password2Error = password2.closest('.form-group').find('.feedback');

            var submit = form.find('[type="submit"]');
            var submitIcon = submit.find('.fa');

            var validationMessages = {
                genericError: '{{ 'validation.generic_form_error'|trans }}',
                invalid: '{{ 'validation.field_is_invalid'|trans }}',
                isRequired: '{{ 'validation.field_is_required'|trans }}',
                passwordMismatch: '{{ 'validation.password_mismatch'|trans }}',
                passwordWeak: '{{ 'validation.password_weak'|trans }}',
                termsShouldBeAccepted: '{{ 'validation.accepted_terms'|trans }}',
            };

            var stateChanges = {
                password: false,
                password2: false,
                currentPassword: false,
            };

            var state = {
                isPasswordStrong: false,
                currentPassword: null,
                password: null,
                password2: null,
            };

            var validate = function () {
                var count = 0;

                if (!IS_ADMIN && !state.currentPassword) {
                    ++count;

                    if (stateChanges.currentPassword) {
                        currentPasswordError.addClass('invalid-feedback d-block');
                        currentPasswordError.text(validationMessages.isRequired);
                        currentPasswordError.removeClass('d-none')
                    } else {
                        currentPasswordError.removeClass('d-block');
                        currentPasswordError.addClass('d-none')
                    }
                } else {
                    currentPasswordError.removeClass('d-block');
                    currentPasswordError.addClass('d-none')
                }

                if (!state.password) {
                    ++count;

                    if (stateChanges.password) {
                        passwordError.addClass('invalid-feedback d-block');
                        passwordError.text(validationMessages.isRequired);
                        passwordError.removeClass('d-none')
                    } else {
                        passwordError.removeClass('d-block');
                        passwordError.addClass('d-none')
                    }
                } else {
                    if (/\s+/.test(state.password)) {
                        ++count;

                        if (stateChanges.password) {
                            passwordError.addClass('invalid-feedback d-block');
                            passwordError.text(validationMessages.invalid);
                            passwordError.removeClass('d-none')
                        } else {
                            passwordError.removeClass('d-block');
                            passwordError.addClass('d-none')
                        }
                    } else if (!state.isPasswordStrong) {
                        ++count;

                        if (stateChanges.password) {
                            passwordError.addClass('invalid-feedback d-block');
                            passwordError.text(validationMessages.passwordWeak);
                            passwordError.removeClass('d-none')
                        } else {
                            passwordError.removeClass('d-block');
                            passwordError.addClass('d-none')
                        }
                    } else if (stateChanges.password) {
                        passwordError.removeClass('d-block');
                        passwordError.addClass('d-none')
                    }
                }

                if (!state.password2) {
                    ++count;

                    if (stateChanges.password2) {
                        password2Error.addClass('invalid-feedback d-block');
                        password2Error.text(validationMessages.isRequired);
                        password2Error.removeClass('d-none')
                    } else {
                        password2Error.removeClass('d-block');
                        password2Error.addClass('d-none')
                    }
                } else if (stateChanges.password2) {
                    password2Error.removeClass('d-block');
                    password2Error.addClass('d-none')
                }

                if (state.password && state.password2 && state.password !== state.password2) {
                    ++count;

                    if (stateChanges.password2) {
                        password2Error.addClass('invalid-feedback d-block');
                        password2Error.text(validationMessages.passwordMismatch);
                        password2Error.removeClass('d-none')
                    } else {
                        password2Error.removeClass('d-block');
                        password2Error.addClass('d-none')
                    }
                } else if (stateChanges.password2) {
                    password2Error.removeClass('d-block');
                    password2Error.addClass('d-none')
                }

                var isValid = count === 0;

                submit.prop('disabled', !isValid);

                return isValid
            };

            var save = function () {

                if (!validate()) return;

                $.ajax({
                    method: 'PUT',
                    url: '{{ path('api_v1_subscribers_put', {
                        'id': user.id
                    }) }}',
                    contentType: 'application/json',
                    data: JSON.stringify(state),
                    beforeSend: function () {
                        submit.prop('disabled', true);
                        submitIcon.removeClass('fa-check');
                        submitIcon.addClass('fa-spin fa-circle-notch');

                        formError.addClass('d-none')
                    },
                    success: function () {
                       window.location.reload()
                    },
                    error: function (xhr) {
                        formError.removeClass('d-none')
                        if (xhr.responseJSON && xhr.responseJSON.message) {
                            formError.text(xhr.responseJSON.message);
                        } else {
                            formError.text(validationMessages.genericError);
                        }
                    },
                    complete: function () {
                        submit.prop('disabled', false);
                        submitIcon.addClass('fa-check');
                        submitIcon.removeClass('fa-spin fa-circle-notch')
                    }
                });
            };

            currentPassword.on('focus input', function (e) {
                state.currentPassword = e.target.value;
                stateChanges.currentPassword = true;

                if (validate() && e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            });

            password.on('focus input', function (e) {
                state.password = e.target.value;
                stateChanges.password = true;

                if (validate() && e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            });

            password2.on('focus input', function (e) {
                state.password2 = e.target.value;
                stateChanges.password2 = true;

                if (validate() && e.keyCode === 13) {
                    e.preventDefault();

                    save();
                }
            });

            form.on('submit', function (e) {
                e.preventDefault();

                save();
            });


            password.pwstrength({
                common: {
                    minChar: 8,
                    onKeyUp: function (evt, data) {
                        state.isPasswordStrong = data.score >= 26
                    }
                },
                ui: {
                    scores: [0, 14, 26, 38, 50],
                    bootstrap4: true,
                    container: "#pwd-container",
                    viewports: {
                        progress: ".pwstrength_viewport_progress"
                    },
                    showVerdictsInsideProgressBar: true
                }
            });
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">

                <h2>{{ user.name|escape }}</h2>

                <form id="subscriber">
                    <div class="form-group text-right">
                        <a href="#changePasswordModal" class="btn btn-sm btn-outline-warning" data-toggle="modal">
                            <i class="fa fa-key"></i>&nbsp;{{ 'navigation.reset_password'|trans }}
                        </a>

                        {% if isAdmin %}
                            <button type="submit" class="btn btn-sm btn-success" disabled>
                                <i class="fa fa-check"></i>&nbsp;{{ user.id ? 'movies.save'|trans : 'movies.create'|trans }}
                            </button>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <div class="text-muted">{{ 'created_at'|trans }}
                            :&nbsp;{{ user.createdAt|date('Y-m-d H:i') }}</div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'name'|trans }}</label>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   name="name"
                                   value="{{ user.name|escape }}">
                        </div>
                        <small class="feedback"></small>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'users.email'|trans }}</label>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   name="email"
                                   value="{{ user.email|escape }}">
                        </div>
                        <small class="feedback"></small>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">{{ 'users.birthday'|trans }}</label>
                            </div>
                            <input type="text"
                                   class="form-control"
                                   name="birthday"
                                   value="{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}">
                        </div>
                        <small class="feedback"></small>
                    </div>

                    <div class="form-group">
                        <label for="active">
                            <input id="active" type="checkbox" name="isActive"
                                {{ user.isActive ? 'checked' : '' }}>
                            &nbsp;{{ 'users.is_active'|trans }}
                        </label>
                    </div>
                </form>
            </div>

            <div class="col-12">

                {% if submissions|length == 0 %}
                    <div class="row">
                        <div class="col-12">
                            <div class="banner">
                                <img src="/img/clapperboard.png">
                                <h3>{{ 'submission.title'|trans }}</h3>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h4>{{ 'submission.my_submissions'|trans }}</h4>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th class="align-middle">{{ 'status'|trans }}</th>
                                <th class="align-middle">{{ 'movie'|trans }}</th>
                                <th class="align-middle">{{ 'category'|trans }}</th>
                                <th class="align-middle">{{ 'submission.status_date'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for submission in submissions %}
                                <tr>
                                    <td class="align-middle">
                                        {% if submission.status == 'rejected' %}
                                            <span class="badge badge-danger">{{ submission.status }}</span>
                                        {% elseif submission.status == 'accepted' %}
                                            <span class="badge badge-success">{{ submission.status }}</span>
                                        {% elseif submission.status == 'submitted' %}
                                            <span class="badge badge-light">{{ submission.status }}</span>
                                        {% elseif submission.status == 'withdrawn' %}
                                            <span class="badge badge-secondary">{{ submission.status }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle">{{ submission.movie.name }}</td>
                                    <td class="align-middle">{{ ('categories.' ~ submission.category.name)|trans }}</td>
                                    <td class="align-middle text-nowrap">{{ submission.statusUpdatedAt ? submission.statusUpdatedAt|date('Y-m-d H:i') : '-' }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="modal fade" id="changePasswordModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form id="reset-password">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ 'users.change_pasword_title'|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div id="reset-password-error" class="alert alert-danger d-none">
                                {{ 'validation.password_mismatch'|trans }}
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.current_password'|trans }}</label>
                                    </div>
                                    <input type="password"
                                            {{ isAdmin ? 'disabled' : '' }}
                                           name="currentPassword"
                                           class="form-control">
                                </div>
                                <small class="feedback"></small>
                            </div>

                            <div class="form-group" id="pwd-container">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.password'|trans }}</label>
                                    </div>
                                    <input type="password"
                                           name="password"
                                           class="form-control"
                                           required>
                                </div>
                                <div class="pwstrength_viewport_progress"></div>
                                <small class="feedback"></small>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.password_repeat'|trans }}</label>
                                    </div>
                                    <input type="password"
                                           name="password2"
                                           class="form-control"
                                           required>
                                </div>
                                <small class="feedback"></small>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">
                                <i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}
                            </button>

                            <button type="submit" class="btn btn-success" disabled>
                                <i class="fa fa-check"></i>&nbsp;{{ 'login.confirm'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}
