{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.subscribers'|trans }}{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var state = {
                page: {{ page }},
                filter: JSON.parse('{{ filter_json|raw }}'),
            };

            var filterForm = $('#filter-form');
            var filterStatus = filterForm.find('[name="isActive"]');
            var pagination = $('#pagination');

            if (state.filter.isActive !== undefined) {
                filterStatus.val(state.filter.isActive)
            }

            console.log(state);

            var startSearch = function () {
                var query = [
                    'page=' + state.page
                ];

                for (var key in state.filter) {
                    if (!state.filter.hasOwnProperty(key)) continue;

                    query.push('filter[' + key + ']=' + state.filter[key])
                }

                window.location = '{{ path('subscribers') }}?' + query.join('&')
            };

            filterStatus.on('change', function (e) {

                var value = e.target.value;
                if (value && value !== '...') {
                    state.filter.isActive = value
                } else {
                    delete state.filter.isActive
                }
            });

            filterForm.on('submit', function (e) {
                e.preventDefault();

                startSearch()
            });

            pagination.find('.page-link').on('click', function (e) {
                e.preventDefault();

                var page = parseInt($(this).attr('data-id'));
                if (page > 0) {

                    state.page = page;

                    startSearch();
                }
            });

        })
    </script>
{% endblock %}

{% block body %}
    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">

                <h2>{{ 'navigation.subscribers'|trans }} <small>({{ total }})</small></h2>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <a href="{{ path('subscribers_new') }}" class="btn btn-sm btn-success">
                                <i class="fa fa-plus"></i>&nbsp;{{ 'users.add'|trans }}
                            </a>
                        </div>
                    </div>
                </div>

                <form id="filter-form">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">{{ 'users.is_active'|trans }}</label>
                                    </div>
                                    <select class="form-control" name="isActive">
                                        <option selected>...</option>
                                        <option value="1">{{ 'yes'|trans }}</option>
                                        <option value="0">{{ 'no'|trans }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <a href="{{ path('subscribers') }}" class="btn btn-light btn-sm">
                                    <i class="fa fa-times"></i>&nbsp;{{ 'movies.filter.clear'|trans }}
                                </a>
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="fa fa-search"></i>&nbsp;{{ 'movies.filter.search'|trans }}
                                </button>

                            </div>
                        </div>
                    </div>
                </form>

                {% if total == 0 %}
                    <div class="row">
                        <div class="col-12">
                            <div class="banner">
                                <img src="{{ random([
                                    "/img/male.png",
                                    "/img/female.png"
                                ]) }}">
                                <h3>{{ 'users.title'|trans }}</h3>
                                <h4>{{ 'users.footer'|trans }}</h4>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>{{ 'name'|trans }}</th>
                                <th>{{ 'users.email'|trans }}</th>
                                <th>{{ 'users.is_active'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>
                                        <a href="{{ path('subscribers_edit', {
                                            'id': user.id
                                        }) }}">#{{ user.id }}
                                        </a>
                                    </td>
                                    <td>{{ user.name|escape }}</td>
                                    <td>{{ user.email|escape }}</td>
                                    <td>
                                        {% if not user.isActive %}
                                            <span class="badge badge-danger">{{ 'no'|trans }}</span>
                                        {% else %}
                                            <span class="badge badge-success">{{ 'yes'|trans }}</span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                {% endif %}

                {% if pages > 1 %}
                    <div class="row">
                        <div class="col-12">
                            <ul id="pagination" class="pagination justify-content-lg-center">
                                {% for range in get_pagination_range(page, total, limit, pages) %}
                                    <li class="page-item {{ range == page ? 'active' : '' }}">
                                        <a class="page-link" data-id="{{ range }}"
                                           href="#">{{ range }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}