{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.terms'|trans }}{% endblock %}

{% block body %}

    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">
                <div class="row mb-5">
                    <div class="col-12 col-md-7">
                        <h2>{{ 'terms.title'|trans }}</h2>
                        <p>{{ 'terms.content'|trans|raw }}</p>

                        <p>
                            <a href="{{ path('register') }}" class="btn btn-success">
                                <i class="fa fa-user-plus"></i>&nbsp;{{ 'index.banner.subscribe'|trans }}
                            </a>
                        </p>
                    </div>
                    <div class="col-12 col-md-5">
                        <img src="{{ 'terms.img'|trans }}" alt="{{ 'terms.title'|trans }}" class="img-fluid">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-7">
                        <h2>{{ 'terms.tutorial.title'|trans }}</h2>
                        <p>{{ 'terms.tutorial.content'|trans|raw }}</p>

                        <p>
                            <a href="{{ path('tutorial') }}" class="btn btn-outline-success">
                                <i class="fa fa-video"></i>&nbsp;{{ 'index.banner.tutorial'|trans }}
                            </a>
                        </p>

                    </div>
                    <div class="col-12 col-md-5">
                        <img src="{{ 'terms.tutorial.img'|trans }}" alt="{{ 'terms.tutorial.title'|trans }}"
                             class="img-fluid">
                    </div>
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}