{% extends 'base.html.twig' %}

{% block title %}{{ 'navigation.index'|trans }}{% endblock %}

{% block stylesheets %}
    <style>
        .video-container iframe{
            width: 560px;
            height: 315px
        }
    </style>
{% endblock %}

{% block body %}

    <div class="container py-3 shadow-sm bg-white my-2">
        <div class="row">
            <div class="col-12">
                <h2>{{ 'terms.tutorial.title'|trans }}</h2>
                <p>{{ 'terms.tutorial.content'|trans|raw }}</p>
            </div>
            <div class="col-12">
                <div class="video-container text-center">
                    <iframe src="{{ 'tutorial.video_link'|trans|raw }}"
                            frameborder="0"
                            allow="autoplay; encrypted-media"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>

        {{ include('footer.html.twig') }}
    </div>
{% endblock %}