{% extends 'email/base.html.twig' %}

{% block title %}{{ 'email.activation.title'|trans }}{% endblock %}

{% block body %}
{{ 'email.activation.content'|trans|raw }}
{% endblock %}

{% block action %}
    <a href="{{ project_host ~ path('activate', {'token': user.publicToken}) }}">{{ 'email.activation.action'|trans }}</a>
{% endblock %}

{% block body_after %}
    <p style="color:grey">{{ project_host ~ path('activate', {'token': user.publicToken}) }}</p>
{% endblock %}