{% extends 'email/base.html.twig' %}

{% block title %}{{ 'email.reset_password.title'|trans }}{% endblock %}

{% block body %}
    {{ 'email.reset_password.content'|trans|raw }}
{% endblock %}

{% block action %}
    <a href="{{ project_host ~ path('set_password_index', {'token': user.passwordToken}) }}">{{ 'email.reset_password.action'|trans }}</a>
{% endblock %}

{% block body_after %}
    <p style="color:grey">{{ project_host ~ path('set_password_index', {'token': user.passwordToken}) }}</p>
{% endblock %}